In [62]:
#Importing required modules
import warnings
warnings.filterwarnings('ignore')

import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import accuracy_score

In [38]:
train_df = pd.read_csv('Dataset/Train.csv')

In [39]:
test_df = pd.read_csv('Dataset/Test.csv')

In [40]:
train_df.head(30)

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0
5,RIHR51XD6,0,3.911176e+06,3.911176e+06,2.995007e+06,2.995007e+06,4.519330e+06,4.999873e+06,1.610207e+06,2.116667e+06,...,0,0,0,0,60.0,60.0,57.0,20.0,20.0,18.0
6,RDHD6BX,0,1.173942e+05,8.499665e+04,8.499665e+04,8.499665e+04,9.209092e+04,9.209092e+04,3.618990e+04,3.618990e+04,...,0,2,0,2,12.0,12.0,4.0,9.0,9.0,4.0
7,RS0UVS4,0,2.582386e+05,2.101529e+05,2.104294e+05,2.416836e+05,2.458873e+05,2.793668e+05,9.263240e+04,5.521743e+04,...,0,0,0,0,16.0,15.0,9.0,18.0,15.0,5.0
8,TIWWI0K5,0,1.463930e+04,1.581304e+04,1.928101e+04,1.598447e+04,1.656301e+04,1.761563e+04,2.573648e+03,2.380503e+03,...,2,1,2,1,42.0,42.0,21.0,12.0,12.0,6.0
9,T9VBLOY9,0,8.405841e+04,3.268636e+04,3.268636e+04,6.535643e+04,6.832092e+04,1.366293e+05,5.293322e+04,5.889939e+04,...,0,0,0,0,21.0,20.0,13.0,10.0,9.0,4.0
10,T9LDUOS,0,8.331730e+04,3.398408e+04,3.469404e+04,5.782340e+04,3.530345e+04,6.005401e+04,3.742235e+04,2.776126e+04,...,2,1,2,1,30.0,30.0,17.0,8.0,8.0,4.0
11,T9HRLS5Y,0,1.541710e+04,1.163359e+04,9.306876e+03,9.306876e+03,9.937695e+03,7.950156e+03,8.714554e+03,9.081942e+03,...,1,1,1,1,21.0,21.0,21.0,17.0,17.0,14.0
12,T7LI5YQD,0,6.348547e+03,5.901796e+03,5.193540e+03,5.193540e+03,1.621191e+04,1.756209e+04,4.258912e+03,4.198301e+03,...,2,3,2,3,73.0,73.0,35.0,28.0,28.0,16.0
13,T7LOLBZ5,0,8.258002e+04,1.545650e+05,7.473273e+05,1.545650e+05,1.209395e+05,1.209395e+05,1.056434e+05,1.056434e+05,...,0,0,0,0,35.0,35.0,16.0,18.0,16.0,9.0
14,T7GK5M1Y,0,1.817353e+05,1.591607e+05,1.623718e+05,1.818041e+05,1.696716e+05,1.814502e+05,5.677918e+04,1.306716e+04,...,0,1,0,1,27.0,26.0,9.0,9.0,8.0,4.0
15,T75I6CZ5,0,5.978746e+04,4.062797e+04,3.385664e+04,3.385664e+04,4.296707e+04,3.580589e+04,2.701616e+04,2.894295e+04,...,1,2,1,2,26.0,26.0,23.0,19.0,19.0,13.0
16,T7YHVOND,0,5.933678e+04,4.999568e+04,4.345385e+04,4.999568e+04,3.070201e+04,3.070201e+04,1.501514e+04,1.501514e+04,...,0,1,0,1,54.0,53.0,40.0,13.0,11.0,8.0
17,T7EDOY4Z,0,7.617332e+04,6.271249e+04,6.271249e+04,8.538346e+04,7.698640e+04,9.917609e+04,5.382220e+04,3.736789e+04,...,1,2,1,2,29.0,26.0,14.0,13.0,8.0,3.0
18,T1LUQ1Q9,0,3.962194e+04,1.232196e+04,1.232196e+04,2.462561e+04,1.987202e+04,3.971141e+04,1.738504e+04,1.736988e+04,...,1,2,1,2,104.0,98.0,66.0,29.0,28.0,19.0
19,T10RIBYR,0,2.054298e+04,2.054298e+04,1.541046e+04,1.541046e+04,1.415833e+04,1.066875e+04,7.875412e+03,1.122931e+04,...,0,0,0,0,7.0,7.0,7.0,5.0,5.0,4.0
20,T1GWCOZW,0,4.709353e+03,7.132060e+03,5.943383e+03,5.943383e+03,2.981693e+04,2.484744e+04,6.490472e+03,6.494343e+03,...,1,0,1,0,25.0,25.0,16.0,11.0,11.0,8.0
21,T1HIO1QD,0,2.150393e+04,6.449866e+03,5.956842e+03,1.190562e+04,4.833055e+03,8.808607e+03,1.342027e+04,1.627142e+04,...,0,1,1,2,74.0,74.0,55.0,19.0,18.0,12.0
22,TDVU5ONE,0,2.257172e+04,2.476025e+04,2.476025e+04,2.476025e+04,5.211452e+04,5.211452e+04,1.725873e+04,1.725873e+04,...,0,0,0,0,15.0,15.0,9.0,13.0,13.0,7.0
23,TDLUO1ZG,0,3.677736e+04,2.899786e+04,2.485438e+04,2.485438e+04,4.490465e+04,4.260154e+04,1.064013e+04,1.342630e+04,...,3,1,3,1,92.0,92.0,57.0,15.0,15.0,10.0
24,TDWK6MXR,0,8.498837e+03,5.319682e+03,5.319682e+03,5.319682e+03,7.485930e+03,7.485930e+03,4.287156e+03,4.287156e+03,...,1,0,1,0,48.0,48.0,48.0,6.0,6.0,4.0
25,TD0KU0XG,0,1.808683e+03,1.645432e+03,1.316346e+03,1.316346e+03,9.531500e+03,7.625200e+03,3.194729e+02,7.185338e+02,...,0,0,0,0,9.0,9.0,8.0,7.0,7.0,4.0
26,TDGOCCZE,0,8.269657e+04,5.913889e+04,6.596684e+04,5.913889e+04,6.685014e+04,6.685014e+04,3.280842e+04,3.280842e+04,...,1,2,2,2,32.0,32.0,15.0,31.0,31.0,18.0
27,TD5ICCKY,0,5.852857e+04,9.282500e+04,7.845355e+04,7.845355e+04,6.663684e+04,5.830947e+04,6.211816e+04,6.257675e+04,...,0,0,0,0,16.0,16.0,14.0,7.0,7.0,3.0
28,TDHUQBYZ,0,2.627332e+04,2.254290e+04,2.497956e+04,2.023432e+04,2.581522e+04,2.433217e+04,1.275563e+04,1.231074e+04,...,1,0,1,0,21.0,21.0,13.0,15.0,15.0,8.0
29,TDEOGSKR,0,5.653535e+04,5.374256e+04,4.778131e+04,4.778131e+04,6.090908e+04,5.149046e+04,7.854841e+03,1.385569e+04,...,0,1,0,1,12.0,12.0,8.0,10.0,10.0,4.0

In [11]:
train_df.describe()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,17521.000000,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,...,17521.000000,17521.000000,17521.000000,17521.000000,16347.000000,16347.000000,16335.000000,16347.00000,16347.000000,16335.000000
mean,0.100508,3.158967e+04,2.046540e+04,2.502937e+04,2.789385e+04,2.597734e+04,3.302600e+04,2.912693e+04,2.971069e+04,3.617392e+04,...,0.736202,0.595343,0.773757,0.639005,55.540038,55.015416,35.180961,17.99584,17.539977,10.359657
std,0.300685,7.612897e+05,7.136908e+05,6.018207e+05,6.091245e+05,7.211998e+05,7.488433e+05,2.175595e+05,2.981508e+05,2.612427e+05,...,0.910828,0.784953,0.921805,0.806286,53.269618,52.697069,34.956016,24.83891,24.685954,18.476447
min,0.000000,-8.555719e+07,-8.555719e+07,-7.011955e+07,-7.100920e+07,-8.480658e+07,-9.016250e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,2.742337e+03,2.007863e+03,1.857013e+03,2.562647e+03,2.973188e+03,3.822170e+03,1.824148e+03,1.787456e+03,3.505288e+03,...,0.000000,0.000000,0.000000,0.000000,21.000000,21.000000,12.000000,9.00000,9.000000,5.000000
50%,0.000000,9.308060e+03,6.642857e+03,6.236503e+03,8.464355e+03,1.036962e+04,1.303534e+04,5.705458e+03,5.536147e+03,8.832639e+03,...,0.000000,0.000000,0.000000,0.000000,42.000000,42.000000,27.000000,13.00000,13.000000,7.000000
75%,0.000000,3.053873e+04,2.156093e+04,2.068154e+04,2.773849e+04,2.645998e+04,3.359204e+04,1.852222e+04,1.753976e+04,2.341911e+04,...,1.000000,1.000000,1.000000,1.000000,74.000000,73.000000,47.000000,21.00000,21.000000,12.000000
max,1.000000,1.459355e+07,1.288980e+07,1.478068e+07,1.178075e+07,1.879882e+07,1.514035e+07,1.125630e+07,2.788633e+07,1.314762e+07,...,4.000000,4.000000,4.000000,4.000000,1305.000000,1305.000000,1211.000000,2205.00000,2205.000000,1831.000000

In [8]:
train_df.select_dtypes(include='object')

            Col1 Col747 Col836
0        RIGHGSN    NaN    NaN
1      RIMHI5ZGP    NaN    NaN
2      RIHOG1SZU    NaN    NaN
3      RIHOLMQWU    NaN    NaN
4      RIHO584ET    NaN    NaN
...          ...    ...    ...
17516    M9ERLMQ    NaN    NaN
17517    M1W6L8S    NaN    NaN
17518    MD5BL5K    NaN    NaN
17519    MYLOQ8Y    NaN    NaN
17520    M2YK6ON    NaN    NaN

[17521 rows x 3 columns]

In [51]:
#train_df['Col747']

In [42]:
null_columns=train_df.columns[train_df.isnull().any()]
a1 = train_df[null_columns].isnull().sum()
a1.count()

759

In [16]:
train_df[null_columns].

,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22,...,Col930,Col931,Col932,Col933,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,9.293496,8.570479,10.063117,10.271758,0.548538,0.403366,NaN,NaN,1.486524,1.728324,...,NaN,0.000000,0.000000,0.000000,214.0,214.0,68.0,22.0,22.0,7.0
1,12.462385,12.280493,12.167132,12.136876,1.167898,2.676398,NaN,NaN,0.792123,0.934556,...,1.0,0.306122,0.306122,0.326087,41.0,41.0,38.0,12.0,12.0,11.0
2,16.496090,16.749305,16.532874,16.128357,1.145182,2.203874,NaN,NaN,0.422264,0.498347,...,NaN,0.740458,0.740458,0.794749,378.0,378.0,310.0,21.0,21.0,16.0
3,13.419061,13.624018,13.541837,13.429097,1.204010,0.536304,NaN,NaN,0.437243,0.521341,...,NaN,0.502662,0.502662,0.465228,702.0,702.0,644.0,951.0,951.0,743.0
4,NaN,14.764533,14.551021,NaN,NaN,NaN,NaN,NaN,NaN,1.344637,...,4.0,0.532091,0.532091,0.442589,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17516,9.148963,9.911956,10.605103,8.915427,1.000000,1.713918,NaN,NaN,1.370791,1.011743,...,NaN,0.000000,0.000000,0.000000,38.0,35.0,25.0,14.0,11.0,6.0
17517,11.091915,8.442448,9.562971,10.469846,1.084643,9.876659,NaN,NaN,2.498749,2.225451,...,NaN,0.084746,0.084746,0.072727,155.0,145.0,90.0,31.0,21.0,12.0
17518,10.650399,9.215378,8.992234,10.142117,1.250000,130.837275,NaN,NaN,1.372052,0.015868,...,NaN,0.500000,0.500000,0.500000,2.0,2.0,2.0,4.0,4.0,2.0
17519,11.163155,11.788577,11.819816,11.589960,1.000000,0.484330,2.771207,1.274358,0.583290,0.560512,...,NaN,0.781022,0.804511,0.880597,35.0,34.0,11.0,10.0,9.0,4.0
17520,9.229357,9.246636,9.246636,9.224664,1.000000,1.019086,NaN,NaN,0.008606,0.037859,...,NaN,0.000000,0.000000,0.000000,2.0,2.0,2.0,4.0,4.0,3.0

In [43]:
train1_df = train_df.drop(null_columns,1)

In [47]:
train1_df_columns = train1_df.columns
for i in train1_df_columns:
    print('Number of Null values in' + "{} are {}".format(i, train1_df[str(i)].isnull().sum()))
print("Number of columns in train1_df are {}".format(len(train1_df.columns)))

Number of Null values inCol1 are 0
Number of Null values inCol2 are 0
Number of Null values inCol3 are 0
Number of Null values inCol4 are 0
Number of Null values inCol5 are 0
Number of Null values inCol6 are 0
Number of Null values inCol7 are 0
Number of Null values inCol8 are 0
Number of Null values inCol9 are 0
Number of Null values inCol10 are 0
Number of Null values inCol11 are 0
Number of Null values inCol12 are 0
Number of Null values inCol25 are 0
Number of Null values inCol26 are 0
Number of Null values inCol29 are 0
Number of Null values inCol30 are 0
Number of Null values inCol31 are 0
Number of Null values inCol32 are 0
Number of Null values inCol33 are 0
Number of Null values inCol34 are 0
Number of Null values inCol35 are 0
Number of Null values inCol36 are 0
Number of Null values inCol44 are 0
Number of Null values inCol45 are 0
Number of Null values inCol46 are 0
Number of Null values inCol47 are 0
Number of Null values inCol48 are 0
Number of Null values inCol49 are 0
Number of Null values inCol50 are 0
Number of Null values inCol51 are 0
Number of Null values inCol52 are 0
Number of Null values inCol53 are 0
Number of Null values inCol54 are 0
Number of Null values inCol55 are 0
Number of Null values inCol56 are 0
Number of Null values inCol57 are 0
Number of Null values inCol58 are 0
Number of Null values inCol59 are 0
Number of Null values inCol60 are 0
Number of Null values inCol61 are 0
Number of Null values inCol62 are 0
Number of Null values inCol63 are 0
Number of Null values inCol64 are 0
Number of Null values inCol65 are 0
Number of Null values inCol66 are 0
Number of Null values inCol67 are 0
Number of Null values inCol68 are 0
Number of Null values inCol69 are 0
Number of Null values inCol70 are 0
Number of Null values inCol71 are 0
Number of Null values inCol72 are 0
Number of Null values inCol73 are 0
Number of Null values inCol74 are 0
Number of Null values inCol75 are 0
Number of Null values inCol76 are 0
Number of Null values inCol77 are 0
Number of Null values inCol78 are 0
Number of Null values inCol79 are 0
Number of Null values inCol80 are 0
Number of Null values inCol81 are 0
Number of Null values inCol82 are 0
Number of Null values inCol83 are 0
Number of Null values inCol84 are 0
Number of Null values inCol85 are 0
Number of Null values inCol86 are 0
Number of Null values inCol87 are 0
Number of Null values inCol88 are 0
Number of Null values inCol89 are 0
Number of Null values inCol90 are 0
Number of Null values inCol91 are 0
Number of Null values inCol120 are 0
Number of Null values inCol121 are 0
Number of Null values inCol122 are 0
Number of Null values inCol123 are 0
Number of Null values inCol124 are 0
Number of Null values inCol125 are 0
Number of Null values inCol126 are 0
Number of Null values inCol127 are 0
Number of Null values inCol128 are 0
Number of Null values inCol129 are 0
Number of Null values inCol130 are 0
Number of Null values inCol131 are 0
Number of Null values inCol132 are 0
Number of Null values inCol133 are 0
Number of Null values inCol134 are 0
Number of Null values inCol135 are 0
Number of Null values inCol136 are 0
Number of Null values inCol137 are 0
Number of Null values inCol160 are 0
Number of Null values inCol161 are 0
Number of Null values inCol168 are 0
Number of Null values inCol169 are 0
Number of Null values inCol170 are 0
Number of Null values inCol181 are 0
Number of Null values inCol182 are 0
Number of Null values inCol183 are 0
Number of Null values inCol184 are 0
Number of Null values inCol186 are 0
Number of Null values inCol187 are 0
Number of Null values inCol188 are 0
Number of Null values inCol189 are 0
Number of Null values inCol190 are 0
Number of Null values inCol191 are 0
Number of Null values inCol192 are 0
Number of Null values inCol193 are 0
Number of Null values inCol194 are 0
Number of Null values inCol195 are 0
Number of Null values inCol196 are 0
Number of Null values inCol197 are 0
Number of Null values inCol198 are 0
Number of Null values inCol199 are 0
Number of Null values inCol200 are 0
Number of Null values inCol201 are 0
Number of Null values inCol202 are 0
Number of Null values inCol203 are 0
Number of Null values inCol204 are 0
Number of Null values inCol205 are 0
Number of Null values inCol206 are 0
Number of Null values inCol207 are 0
Number of Null values inCol378 are 0
Number of Null values inCol379 are 0
Number of Null values inCol380 are 0
Number of Null values inCol381 are 0
Number of Null values inCol383 are 0
Number of Null values inCol384 are 0
Number of Null values inCol385 are 0
Number of Null values inCol386 are 0
Number of Null values inCol387 are 0
Number of Null values inCol388 are 0
Number of Null values inCol389 are 0
Number of Null values inCol390 are 0
Number of Null values inCol391 are 0
Number of Null values inCol392 are 0
Number of Null values inCol393 are 0
Number of Null values inCol394 are 0
Number of Null values inCol395 are 0
Number of Null values inCol396 are 0
Number of Null values inCol397 are 0
Number of Null values inCol398 are 0
Number of Null values inCol399 are 0
Number of Null values inCol400 are 0
Number of Null values inCol401 are 0
Number of Null values inCol402 are 0
Number of Null values inCol403 are 0
Number of Null values inCol404 are 0
Number of Null values inCol575 are 0
Number of Null values inCol576 are 0
Number of Null values inCol577 are 0
Number of Null values inCol578 are 0
Number of Null values inCol579 are 0
Number of Null values inCol580 are 0
Number of Null values inCol581 are 0
Number of Null values inCol582 are 0
Number of Null values inCol583 are 0
Number of Null values inCol584 are 0
Number of Null values inCol585 are 0
Number of Null values inCol586 are 0
Number of Null values inCol587 are 0
Number of Null values inCol588 are 0
Number of Null values inCol589 are 0
Number of Null values inCol590 are 0
Number of Null values inCol591 are 0
Number of Null values inCol592 are 0
Number of Null values inCol593 are 0
Number of Null values inCol594 are 0
Number of Null values inCol595 are 0
Number of Null values inCol596 are 0
Number of Null values inCol597 are 0
Number of Null values inCol598 are 0
Number of Null values inCol599 are 0
Number of Null values inCol600 are 0
Number of Null values inCol917 are 0
Number of Null values inCol918 are 0
Number of Null values inCol919 are 0
Number of Null values inCol922 are 0
Number of Null values inCol923 are 0
Number of Null values inCol924 are 0
Number of Null values inCol927 are 0
Number of Null values inCol928 are 0
Number of Null values inCol929 are 0
Number of Null values inCol934 are 0
Number of Null values inCol935 are 0
Number of Null values inCol936 are 0
Number of Null values inCol937 are 0
Number of Null values inCol938 are 0
Number of Null values inCol939 are 0
Number of Null values inCol940 are 0
Number of Null values inCol941 are 0
Number of Null values inCol942 are 0
Number of Null values inCol943 are 0
Number of Null values inCol944 are 0
Number of Null values inCol945 are 0
Number of Null values inCol946 are 0
Number of Null values inCol947 are 0
Number of Null values inCol948 are 0
Number of Null values inCol949 are 0
Number of Null values inCol950 are 0
Number of Null values inCol951 are 0
Number of Null values inCol952 are 0
Number of Null values inCol953 are 0
Number of Null values inCol954 are 0
Number of Null values inCol955 are 0
Number of Null values inCol956 are 0
Number of Null values inCol957 are 0
Number of Null values inCol958 are 0
Number of Null values inCol959 are 0
Number of Null values inCol960 are 0
Number of Null values inCol961 are 0
Number of Null values inCol962 are 0
Number of Null values inCol963 are 0
Number of Null values inCol964 are 0
Number of Null values inCol965 are 0
Number of Null values inCol966 are 0
Number of Null values inCol967 are 0
Number of Null values inCol968 are 0
Number of Null values inCol969 are 0
Number of Null values inCol970 are 0
Number of Null values inCol971 are 0
Number of Null values inCol972 are 0
Number of Null values inCol973 are 0
Number of Null values inCol974 are 0
Number of Null values inCol975 are 0
Number of Null values inCol976 are 0
Number of Null values inCol977 are 0
Number of Null values inCol978 are 0
Number of Null values inCol979 are 0
Number of Null values inCol980 are 0
Number of Null values inCol981 are 0
Number of Null values inCol982 are 0
Number of Null values inCol983 are 0
Number of Null values inCol984 are 0
Number of Null values inCol985 are 0
Number of Null values inCol986 are 0
Number of Null values inCol987 are 0
Number of Null values inCol988 are 0
Number of Null values inCol989 are 0
Number of Null values inCol990 are 0
Number of Null values inCol991 are 0
Number of Null values inCol992 are 0
Number of Null values inCol993 are 0
Number of Null values inCol994 are 0
Number of Null values inCol995 are 0
Number of Null values inCol996 are 0
Number of Null values inCol997 are 0
Number of Null values inCol998 are 0
Number of Null values inCol999 are 0
Number of Null values inCol1000 are 0
Number of Null values inCol1001 are 0
Number of Null values inCol1002 are 0
Number of Null values inCol1003 are 0
Number of Null values inCol1004 are 0
Number of Null values inCol1005 are 0
Number of Null values inCol1006 are 0
Number of Null values inCol1007 are 0
Number of Null values inCol1008 are 0
Number of Null values inCol1009 are 0
Number of Null values inCol1010 are 0
Number of Null values inCol1011 are 0
Number of Null values inCol1012 are 0
Number of Null values inCol1013 are 0
Number of Null values inCol1014 are 0
Number of Null values inCol1015 are 0
Number of Null values inCol1016 are 0
Number of Null values inCol1017 are 0
Number of Null values inCol1018 are 0
Number of Null values inCol1019 are 0
Number of Null values inCol1020 are 0
Number of Null values inCol1021 are 0
Number of Null values inCol1022 are 0
Number of Null values inCol1023 are 0
Number of Null values inCol1024 are 0
Number of Null values inCol1025 are 0
Number of Null values inCol1026 are 0
Number of Null values inCol1027 are 0
Number of Null values inCol1028 are 0
Number of Null values inCol1029 are 0
Number of Null values inCol1030 are 0
Number of Null values inCol1031 are 0
Number of Null values inCol1032 are 0
Number of Null values inCol1033 are 0
Number of Null values inCol1034 are 0
Number of Null values inCol1035 are 0
Number of Null values inCol1036 are 0
Number of Null values inCol1037 are 0
Number of Null values inCol1038 are 0
Number of Null values inCol1039 are 0
Number of Null values inCol1040 are 0
Number of Null values inCol1041 are 0
Number of Null values inCol1042 are 0
Number of Null values inCol1043 are 0
Number of Null values inCol1044 are 0
Number of Null values inCol1045 are 0
Number of Null values inCol1046 are 0
Number of Null values inCol1047 are 0
Number of Null values inCol1048 are 0
Number of Null values inCol1049 are 0
Number of Null values inCol1050 are 0
Number of Null values inCol1051 are 0
Number of Null values inCol1052 are 0
Number of Null values inCol1053 are 0
Number of Null values inCol1054 are 0
Number of Null values inCol1055 are 0
Number of Null values inCol1056 are 0
Number of Null values inCol1057 are 0
Number of Null values inCol1058 are 0
Number of Null values inCol1059 are 0
Number of Null values inCol1060 are 0
Number of Null values inCol1061 are 0
Number of Null values inCol1062 are 0
Number of Null values inCol1063 are 0
Number of Null values inCol1064 are 0
Number of Null values inCol1065 are 0
Number of Null values inCol1066 are 0
Number of Null values inCol1067 are 0
Number of Null values inCol1068 are 0
Number of Null values inCol1069 are 0
Number of Null values inCol1070 are 0
Number of Null values inCol1071 are 0
Number of Null values inCol1072 are 0
Number of Null values inCol1073 are 0
Number of Null values inCol1074 are 0
Number of Null values inCol1075 are 0
Number of Null values inCol1076 are 0
Number of Null values inCol1077 are 0
Number of Null values inCol1078 are 0
Number of Null values inCol1079 are 0
Number of Null values inCol1080 are 0
Number of Null values inCol1081 are 0
Number of Null values inCol1082 are 0
Number of Null values inCol1083 are 0
Number of Null values inCol1084 are 0
Number of Null values inCol1085 are 0
Number of Null values inCol1086 are 0
Number of Null values inCol1087 are 0
Number of Null values inCol1088 are 0
Number of Null values inCol1089 are 0
Number of Null values inCol1090 are 0
Number of Null values inCol1091 are 0
Number of Null values inCol1092 are 0
Number of Null values inCol1093 are 0
Number of Null values inCol1094 are 0
Number of Null values inCol1095 are 0
Number of Null values inCol1096 are 0
Number of Null values inCol1097 are 0
Number of Null values inCol1098 are 0
Number of Null values inCol1099 are 0
Number of Null values inCol1100 are 0
Number of Null values inCol1101 are 0
Number of Null values inCol1102 are 0
Number of Null values inCol1103 are 0
Number of Null values inCol1104 are 0
Number of Null values inCol1105 are 0
Number of Null values inCol1106 are 0
Number of Null values inCol1107 are 0
Number of Null values inCol1108 are 0
Number of Null values inCol1109 are 0
Number of Null values inCol1110 are 0
Number of Null values inCol1111 are 0
Number of Null values inCol1112 are 0
Number of Null values inCol1113 are 0
Number of Null values inCol1114 are 0
Number of Null values inCol1115 are 0
Number of Null values inCol1116 are 0
Number of Null values inCol1117 are 0
Number of Null values inCol1118 are 0
Number of Null values inCol1119 are 0
Number of Null values inCol1120 are 0
Number of Null values inCol1121 are 0
Number of Null values inCol1122 are 0
Number of Null values inCol1123 are 0

Number of Null values inCol1124 are 0
Number of Null values inCol1125 are 0
Number of Null values inCol1126 are 0
Number of Null values inCol1127 are 0
Number of Null values inCol1128 are 0
Number of Null values inCol1129 are 0
Number of Null values inCol1130 are 0
Number of Null values inCol1131 are 0
Number of Null values inCol1132 are 0
Number of Null values inCol1133 are 0
Number of Null values inCol1134 are 0
Number of Null values inCol1135 are 0
Number of Null values inCol1136 are 0
Number of Null values inCol1137 are 0
Number of Null values inCol1138 are 0
Number of Null values inCol1139 are 0
Number of Null values inCol1140 are 0
Number of Null values inCol1141 are 0
Number of Null values inCol1142 are 0
Number of Null values inCol1143 are 0
Number of Null values inCol1144 are 0
Number of Null values inCol1145 are 0
Number of Null values inCol1146 are 0
Number of Null values inCol1147 are 0
Number of Null values inCol1148 are 0
Number of Null values inCol1149 are 0
Number of Null values inCol1150 are 0
Number of Null values inCol1151 are 0
Number of Null values inCol1152 are 0
Number of Null values inCol1153 are 0
Number of Null values inCol1154 are 0
Number of Null values inCol1155 are 0
Number of Null values inCol1156 are 0
Number of Null values inCol1157 are 0
Number of Null values inCol1158 are 0
Number of Null values inCol1159 are 0
Number of Null values inCol1160 are 0
Number of Null values inCol1161 are 0
Number of Null values inCol1162 are 0
Number of Null values inCol1163 are 0
Number of Null values inCol1164 are 0
Number of Null values inCol1165 are 0
Number of Null values inCol1166 are 0
Number of Null values inCol1167 are 0
Number of Null values inCol1168 are 0
Number of Null values inCol1169 are 0
Number of Null values inCol1170 are 0
Number of Null values inCol1171 are 0
Number of Null values inCol1172 are 0
Number of Null values inCol1173 are 0
Number of Null values inCol1174 are 0
Number of Null values inCol1175 are 0
Number of Null values inCol1176 are 0
Number of Null values inCol1177 are 0
Number of Null values inCol1178 are 0
Number of Null values inCol1179 are 0
Number of Null values inCol1180 are 0
Number of Null values inCol1181 are 0
Number of Null values inCol1182 are 0
Number of Null values inCol1183 are 0
Number of Null values inCol1184 are 0
Number of Null values inCol1185 are 0
Number of Null values inCol1186 are 0
Number of Null values inCol1187 are 0
Number of Null values inCol1188 are 0
Number of Null values inCol1189 are 0
Number of Null values inCol1190 are 0
Number of Null values inCol1191 are 0
Number of Null values inCol1192 are 0
Number of Null values inCol1193 are 0
Number of Null values inCol1194 are 0
Number of Null values inCol1195 are 0
Number of Null values inCol1196 are 0
Number of Null values inCol1197 are 0
Number of Null values inCol1198 are 0
Number of Null values inCol1199 are 0
Number of Null values inCol1200 are 0
Number of Null values inCol1201 are 0
Number of Null values inCol1202 are 0
Number of Null values inCol1203 are 0
Number of Null values inCol1204 are 0
Number of Null values inCol1205 are 0
Number of Null values inCol1206 are 0
Number of Null values inCol1207 are 0
Number of Null values inCol1208 are 0
Number of Null values inCol1209 are 0
Number of Null values inCol1210 are 0
Number of Null values inCol1211 are 0
Number of Null values inCol1212 are 0
Number of Null values inCol1213 are 0
Number of Null values inCol1214 are 0
Number of Null values inCol1215 are 0
Number of Null values inCol1216 are 0
Number of Null values inCol1217 are 0
Number of Null values inCol1218 are 0
Number of Null values inCol1219 are 0
Number of Null values inCol1220 are 0
Number of Null values inCol1221 are 0
Number of Null values inCol1222 are 0
Number of Null values inCol1223 are 0
Number of Null values inCol1224 are 0
Number of Null values inCol1225 are 0
Number of Null values inCol1226 are 0
Number of Null values inCol1227 are 0
Number of Null values inCol1228 are 0
Number of Null values inCol1229 are 0
Number of Null values inCol1230 are 0
Number of Null values inCol1231 are 0
Number of Null values inCol1232 are 0
Number of Null values inCol1233 are 0
Number of Null values inCol1234 are 0
Number of Null values inCol1235 are 0
Number of Null values inCol1236 are 0
Number of Null values inCol1237 are 0
Number of Null values inCol1238 are 0
Number of Null values inCol1239 are 0
Number of Null values inCol1240 are 0
Number of Null values inCol1241 are 0
Number of Null values inCol1242 are 0
Number of Null values inCol1243 are 0
Number of Null values inCol1244 are 0
Number of Null values inCol1245 are 0
Number of Null values inCol1246 are 0
Number of Null values inCol1247 are 0
Number of Null values inCol1248 are 0
Number of Null values inCol1249 are 0
Number of Null values inCol1250 are 0
Number of Null values inCol1251 are 0
Number of Null values inCol1252 are 0
Number of Null values inCol1253 are 0
Number of Null values inCol1254 are 0
Number of Null values inCol1255 are 0
Number of Null values inCol1256 are 0
Number of Null values inCol1257 are 0
Number of Null values inCol1258 are 0
Number of Null values inCol1259 are 0
Number of Null values inCol1260 are 0
Number of Null values inCol1261 are 0
Number of Null values inCol1262 are 0
Number of Null values inCol1263 are 0
Number of Null values inCol1264 are 0
Number of Null values inCol1265 are 0
Number of Null values inCol1266 are 0
Number of Null values inCol1267 are 0
Number of Null values inCol1268 are 0
Number of Null values inCol1269 are 0
Number of Null values inCol1270 are 0
Number of Null values inCol1271 are 0
Number of Null values inCol1272 are 0
Number of Null values inCol1273 are 0
Number of Null values inCol1274 are 0
Number of Null values inCol1275 are 0
Number of Null values inCol1276 are 0
Number of Null values inCol1277 are 0
Number of Null values inCol1278 are 0
Number of Null values inCol1279 are 0
Number of Null values inCol1280 are 0
Number of Null values inCol1281 are 0
Number of Null values inCol1282 are 0
Number of Null values inCol1283 are 0
Number of Null values inCol1284 are 0
Number of Null values inCol1285 are 0
Number of Null values inCol1286 are 0
Number of Null values inCol1287 are 0
Number of Null values inCol1288 are 0
Number of Null values inCol1289 are 0
Number of Null values inCol1290 are 0
Number of Null values inCol1291 are 0
Number of Null values inCol1292 are 0
Number of Null values inCol1293 are 0
Number of Null values inCol1294 are 0
Number of Null values inCol1295 are 0
Number of Null values inCol1296 are 0
Number of Null values inCol1297 are 0
Number of Null values inCol1298 are 0
Number of Null values inCol1299 are 0
Number of Null values inCol1300 are 0
Number of Null values inCol1301 are 0
Number of Null values inCol1302 are 0
Number of Null values inCol1303 are 0
Number of Null values inCol1304 are 0
Number of Null values inCol1305 are 0
Number of Null values inCol1306 are 0
Number of Null values inCol1307 are 0
Number of Null values inCol1308 are 0
Number of Null values inCol1309 are 0
Number of Null values inCol1310 are 0
Number of Null values inCol1311 are 0
Number of Null values inCol1312 are 0
Number of Null values inCol1313 are 0
Number of Null values inCol1314 are 0
Number of Null values inCol1315 are 0
Number of Null values inCol1316 are 0
Number of Null values inCol1317 are 0
Number of Null values inCol1318 are 0
Number of Null values inCol1319 are 0
Number of Null values inCol1320 are 0
Number of Null values inCol1321 are 0
Number of Null values inCol1322 are 0
Number of Null values inCol1323 are 0
Number of Null values inCol1324 are 0
Number of Null values inCol1325 are 0
Number of Null values inCol1326 are 0
Number of Null values inCol1327 are 0
Number of Null values inCol1328 are 0
Number of Null values inCol1329 are 0
Number of Null values inCol1330 are 0
Number of Null values inCol1331 are 0
Number of Null values inCol1332 are 0
Number of Null values inCol1333 are 0
Number of Null values inCol1334 are 0
Number of Null values inCol1335 are 0
Number of Null values inCol1336 are 0
Number of Null values inCol1337 are 0
Number of Null values inCol1338 are 0
Number of Null values inCol1339 are 0
Number of Null values inCol1340 are 0
Number of Null values inCol1341 are 0
Number of Null values inCol1342 are 0
Number of Null values inCol1343 are 0
Number of Null values inCol1344 are 0
Number of Null values inCol1345 are 0
Number of Null values inCol1346 are 0
Number of Null values inCol1347 are 0
Number of Null values inCol1348 are 0
Number of Null values inCol1349 are 0
Number of Null values inCol1350 are 0
Number of Null values inCol1351 are 0
Number of Null values inCol1352 are 0
Number of Null values inCol1353 are 0
Number of Null values inCol1354 are 0
Number of Null values inCol1355 are 0
Number of Null values inCol1356 are 0
Number of Null values inCol1357 are 0
Number of Null values inCol1358 are 0
Number of Null values inCol1359 are 0
Number of Null values inCol1360 are 0
Number of Null values inCol1361 are 0
Number of Null values inCol1362 are 0
Number of Null values inCol1363 are 0
Number of Null values inCol1364 are 0
Number of Null values inCol1365 are 0
Number of Null values inCol1366 are 0
Number of Null values inCol1367 are 0
Number of Null values inCol1368 are 0
Number of Null values inCol1369 are 0
Number of Null values inCol1370 are 0
Number of Null values inCol1371 are 0
Number of Null values inCol1372 are 0
Number of Null values inCol1373 are 0
Number of Null values inCol1374 are 0
Number of Null values inCol1375 are 0
Number of Null values inCol1376 are 0
Number of Null values inCol1377 are 0
Number of Null values inCol1378 are 0
Number of Null values inCol1379 are 0
Number of Null values inCol1380 are 0
Number of Null values inCol1381 are 0
Number of Null values inCol1382 are 0
Number of Null values inCol1383 are 0
Number of Null values inCol1384 are 0
Number of Null values inCol1385 are 0
Number of Null values inCol1386 are 0
Number of Null values inCol1387 are 0
Number of Null values inCol1388 are 0
Number of Null values inCol1389 are 0
Number of Null values inCol1390 are 0
Number of Null values inCol1391 are 0
Number of Null values inCol1392 are 0
Number of Null values inCol1393 are 0
Number of Null values inCol1394 are 0
Number of Null values inCol1395 are 0
Number of Null values inCol1396 are 0
Number of Null values inCol1397 are 0
Number of Null values inCol1398 are 0
Number of Null values inCol1399 are 0
Number of Null values inCol1400 are 0
Number of Null values inCol1401 are 0
Number of Null values inCol1402 are 0
Number of Null values inCol1403 are 0
Number of Null values inCol1404 are 0
Number of Null values inCol1405 are 0
Number of Null values inCol1406 are 0
Number of Null values inCol1407 are 0
Number of Null values inCol1408 are 0
Number of Null values inCol1409 are 0
Number of Null values inCol1410 are 0
Number of Null values inCol1411 are 0
Number of Null values inCol1412 are 0
Number of Null values inCol1413 are 0
Number of Null values inCol1414 are 0
Number of Null values inCol1415 are 0
Number of Null values inCol1416 are 0
Number of Null values inCol1417 are 0
Number of Null values inCol1418 are 0
Number of Null values inCol1419 are 0
Number of Null values inCol1420 are 0
Number of Null values inCol1421 are 0
Number of Null values inCol1422 are 0
Number of Null values inCol1423 are 0
Number of Null values inCol1424 are 0
Number of Null values inCol1425 are 0
Number of Null values inCol1426 are 0
Number of Null values inCol1427 are 0
Number of Null values inCol1428 are 0
Number of Null values inCol1429 are 0
Number of Null values inCol1430 are 0
Number of Null values inCol1431 are 0
Number of Null values inCol1432 are 0
Number of Null values inCol1433 are 0
Number of Null values inCol1434 are 0
Number of Null values inCol1435 are 0
Number of Null values inCol1436 are 0
Number of Null values inCol1437 are 0
Number of Null values inCol1438 are 0
Number of Null values inCol1439 are 0
Number of Null values inCol1440 are 0
Number of Null values inCol1441 are 0
Number of Null values inCol1442 are 0
Number of Null values inCol1443 are 0
Number of Null values inCol1444 are 0
Number of Null values inCol1445 are 0
Number of Null values inCol1446 are 0
Number of Null values inCol1447 are 0
Number of Null values inCol1448 are 0
Number of Null values inCol1449 are 0
Number of Null values inCol1450 are 0
Number of Null values inCol1451 are 0
Number of Null values inCol1452 are 0
Number of Null values inCol1453 are 0
Number of Null values inCol1454 are 0
Number of Null values inCol1455 are 0
Number of Null values inCol1456 are 0
Number of Null values inCol1457 are 0
Number of Null values inCol1458 are 0
Number of Null values inCol1459 are 0
Number of Null values inCol1460 are 0
Number of Null values inCol1461 are 0
Number of Null values inCol1462 are 0
Number of Null values inCol1463 are 0
Number of Null values inCol1464 are 0
Number of Null values inCol1465 are 0
Number of Null values inCol1466 are 0
Number of Null values inCol1467 are 0
Number of Null values inCol1468 are 0
Number of Null values inCol1469 are 0
Number of Null values inCol1470 are 0
Number of Null values inCol1471 are 0
Number of Null values inCol1472 are 0
Number of Null values inCol1473 are 0
Number of Null values inCol1474 are 0
Number of Null values inCol1475 are 0
Number of Null values inCol1476 are 0
Number of Null values inCol1477 are 0
Number of Null values inCol1478 are 0
Number of Null values inCol1479 are 0
Number of Null values inCol1480 are 0
Number of Null values inCol1481 are 0
Number of Null values inCol1482 are 0
Number of Null values inCol1483 are 0
Number of Null values inCol1484 are 0
Number of Null values inCol1485 are 0
Number of Null values inCol1486 are 0
Number of Null values inCol1487 are 0
Number of Null values inCol1488 are 0
Number of Null values inCol1489 are 0
Number of Null values inCol1490 are 0
Number of Null values inCol1491 are 0
Number of Null values inCol1492 are 0
Number of Null values inCol1493 are 0
Number of Null values inCol1494 are 0
Number of Null values inCol1495 are 0
Number of Null values inCol1496 are 0

Number of Null values inCol1497 are 0
Number of Null values inCol1498 are 0
Number of Null values inCol1499 are 0
Number of Null values inCol1500 are 0
Number of Null values inCol1501 are 0
Number of Null values inCol1502 are 0
Number of Null values inCol1503 are 0
Number of Null values inCol1504 are 0
Number of Null values inCol1505 are 0
Number of Null values inCol1506 are 0
Number of Null values inCol1507 are 0
Number of Null values inCol1508 are 0
Number of Null values inCol1509 are 0
Number of Null values inCol1510 are 0
Number of Null values inCol1511 are 0
Number of Null values inCol1512 are 0
Number of Null values inCol1513 are 0
Number of Null values inCol1514 are 0
Number of Null values inCol1515 are 0
Number of Null values inCol1516 are 0
Number of Null values inCol1517 are 0
Number of Null values inCol1518 are 0
Number of Null values inCol1519 are 0
Number of Null values inCol1520 are 0
Number of Null values inCol1521 are 0
Number of Null values inCol1522 are 0
Number of Null values inCol1523 are 0
Number of Null values inCol1524 are 0
Number of Null values inCol1525 are 0
Number of Null values inCol1526 are 0
Number of Null values inCol1527 are 0
Number of Null values inCol1528 are 0
Number of Null values inCol1529 are 0
Number of Null values inCol1530 are 0
Number of Null values inCol1531 are 0
Number of Null values inCol1532 are 0
Number of Null values inCol1533 are 0
Number of Null values inCol1534 are 0
Number of Null values inCol1535 are 0
Number of Null values inCol1536 are 0
Number of Null values inCol1537 are 0
Number of Null values inCol1538 are 0
Number of Null values inCol1539 are 0
Number of Null values inCol1540 are 0
Number of Null values inCol1541 are 0
Number of Null values inCol1542 are 0
Number of Null values inCol1543 are 0
Number of Null values inCol1544 are 0
Number of Null values inCol1545 are 0
Number of Null values inCol1546 are 0
Number of Null values inCol1547 are 0
Number of Null values inCol1548 are 0
Number of Null values inCol1549 are 0
Number of Null values inCol1550 are 0
Number of Null values inCol1551 are 0
Number of Null values inCol1552 are 0
Number of Null values inCol1553 are 0
Number of Null values inCol1554 are 0
Number of Null values inCol1555 are 0
Number of Null values inCol1556 are 0
Number of Null values inCol1557 are 0
Number of Null values inCol1558 are 0
Number of Null values inCol1559 are 0
Number of Null values inCol1560 are 0
Number of Null values inCol1561 are 0
Number of Null values inCol1562 are 0
Number of Null values inCol1563 are 0
Number of Null values inCol1564 are 0
Number of Null values inCol1565 are 0
Number of Null values inCol1566 are 0
Number of Null values inCol1567 are 0
Number of Null values inCol1568 are 0
Number of Null values inCol1569 are 0
Number of Null values inCol1570 are 0
Number of Null values inCol1571 are 0
Number of Null values inCol1572 are 0
Number of Null values inCol1573 are 0
Number of Null values inCol1574 are 0
Number of Null values inCol1575 are 0
Number of Null values inCol1576 are 0
Number of Null values inCol1577 are 0
Number of Null values inCol1578 are 0
Number of Null values inCol1579 are 0
Number of Null values inCol1580 are 0
Number of Null values inCol1581 are 0
Number of Null values inCol1582 are 0
Number of Null values inCol1583 are 0
Number of Null values inCol1584 are 0
Number of Null values inCol1585 are 0
Number of Null values inCol1586 are 0
Number of Null values inCol1587 are 0
Number of Null values inCol1588 are 0
Number of Null values inCol1589 are 0
Number of Null values inCol1590 are 0
Number of Null values inCol1591 are 0
Number of Null values inCol1592 are 0
Number of Null values inCol1593 are 0
Number of Null values inCol1594 are 0
Number of Null values inCol1595 are 0
Number of Null values inCol1596 are 0
Number of Null values inCol1597 are 0
Number of Null values inCol1598 are 0
Number of Null values inCol1599 are 0
Number of Null values inCol1600 are 0
Number of Null values inCol1601 are 0
Number of Null values inCol1602 are 0
Number of Null values inCol1603 are 0
Number of Null values inCol1604 are 0
Number of Null values inCol1605 are 0
Number of Null values inCol1606 are 0
Number of Null values inCol1607 are 0
Number of Null values inCol1608 are 0
Number of Null values inCol1609 are 0
Number of Null values inCol1610 are 0
Number of Null values inCol1611 are 0
Number of Null values inCol1612 are 0
Number of Null values inCol1613 are 0
Number of Null values inCol1614 are 0
Number of Null values inCol1615 are 0
Number of Null values inCol1616 are 0
Number of Null values inCol1617 are 0
Number of Null values inCol1618 are 0
Number of Null values inCol1619 are 0
Number of Null values inCol1620 are 0
Number of Null values inCol1621 are 0
Number of Null values inCol1622 are 0
Number of Null values inCol1623 are 0
Number of Null values inCol1624 are 0
Number of Null values inCol1625 are 0
Number of Null values inCol1626 are 0
Number of Null values inCol1627 are 0
Number of Null values inCol1628 are 0
Number of Null values inCol1629 are 0
Number of Null values inCol1630 are 0
Number of Null values inCol1631 are 0
Number of Null values inCol1632 are 0
Number of Null values inCol1633 are 0
Number of Null values inCol1634 are 0
Number of Null values inCol1635 are 0
Number of Null values inCol1636 are 0
Number of Null values inCol1637 are 0
Number of Null values inCol1638 are 0
Number of Null values inCol1639 are 0
Number of Null values inCol1640 are 0
Number of Null values inCol1641 are 0
Number of Null values inCol1642 are 0
Number of Null values inCol1643 are 0
Number of Null values inCol1644 are 0
Number of Null values inCol1645 are 0
Number of Null values inCol1646 are 0
Number of Null values inCol1647 are 0
Number of Null values inCol1648 are 0
Number of Null values inCol1649 are 0
Number of Null values inCol1650 are 0
Number of Null values inCol1651 are 0
Number of Null values inCol1652 are 0
Number of Null values inCol1653 are 0
Number of Null values inCol1654 are 0
Number of Null values inCol1655 are 0
Number of Null values inCol1656 are 0
Number of Null values inCol1657 are 0
Number of Null values inCol1658 are 0
Number of Null values inCol1659 are 0
Number of Null values inCol1660 are 0
Number of Null values inCol1661 are 0
Number of Null values inCol1664 are 0
Number of Null values inCol1665 are 0
Number of Null values inCol1666 are 0
Number of Null values inCol1667 are 0
Number of Null values inCol1668 are 0
Number of Null values inCol1669 are 0
Number of Null values inCol1670 are 0
Number of Null values inCol1671 are 0
Number of Null values inCol1672 are 0
Number of Null values inCol1673 are 0
Number of Null values inCol1674 are 0
Number of Null values inCol1675 are 0
Number of Null values inCol1676 are 0
Number of Null values inCol1677 are 0
Number of Null values inCol1678 are 0
Number of Null values inCol1679 are 0
Number of Null values inCol1680 are 0
Number of Null values inCol1681 are 0
Number of Null values inCol1682 are 0
Number of Null values inCol1683 are 0
Number of Null values inCol1684 are 0
Number of Null values inCol1685 are 0
Number of Null values inCol1686 are 0
Number of Null values inCol1687 are 0
Number of Null values inCol1688 are 0
Number of Null values inCol1689 are 0
Number of Null values inCol1690 are 0
Number of Null values inCol1691 are 0
Number of Null values inCol1692 are 0
Number of Null values inCol1693 are 0
Number of Null values inCol1694 are 0
Number of Null values inCol1695 are 0
Number of Null values inCol1696 are 0
Number of Null values inCol1697 are 0
Number of Null values inCol1698 are 0
Number of Null values inCol1699 are 0
Number of Null values inCol1700 are 0
Number of Null values inCol1701 are 0
Number of Null values inCol1702 are 0
Number of Null values inCol1703 are 0
Number of Null values inCol1704 are 0
Number of Null values inCol1705 are 0
Number of Null values inCol1706 are 0
Number of Null values inCol1707 are 0
Number of Null values inCol1708 are 0
Number of Null values inCol1709 are 0
Number of Null values inCol1710 are 0
Number of Null values inCol1711 are 0
Number of Null values inCol1712 are 0
Number of Null values inCol1713 are 0
Number of Null values inCol1714 are 0
Number of Null values inCol1715 are 0
Number of Null values inCol1716 are 0
Number of Null values inCol1717 are 0
Number of Null values inCol1718 are 0
Number of Null values inCol1719 are 0
Number of Null values inCol1720 are 0
Number of Null values inCol1721 are 0
Number of Null values inCol1722 are 0
Number of Null values inCol1723 are 0
Number of Null values inCol1724 are 0
Number of Null values inCol1725 are 0
Number of Null values inCol1726 are 0
Number of Null values inCol1727 are 0
Number of Null values inCol1728 are 0
Number of Null values inCol1729 are 0
Number of Null values inCol1730 are 0
Number of Null values inCol1731 are 0
Number of Null values inCol1732 are 0
Number of Null values inCol1733 are 0
Number of Null values inCol1734 are 0
Number of Null values inCol1735 are 0
Number of Null values inCol1736 are 0
Number of Null values inCol1737 are 0
Number of Null values inCol1738 are 0
Number of Null values inCol1739 are 0
Number of Null values inCol1740 are 0
Number of Null values inCol1741 are 0
Number of Null values inCol1742 are 0
Number of Null values inCol1743 are 0
Number of Null values inCol1744 are 0
Number of Null values inCol1745 are 0
Number of Null values inCol1746 are 0
Number of Null values inCol1747 are 0
Number of Null values inCol1748 are 0
Number of Null values inCol1749 are 0
Number of Null values inCol1750 are 0
Number of Null values inCol1751 are 0
Number of Null values inCol1752 are 0
Number of Null values inCol1753 are 0
Number of Null values inCol1754 are 0
Number of Null values inCol1755 are 0
Number of Null values inCol1756 are 0
Number of Null values inCol1757 are 0
Number of Null values inCol1758 are 0
Number of Null values inCol1759 are 0
Number of Null values inCol1760 are 0
Number of Null values inCol1761 are 0
Number of Null values inCol1762 are 0
Number of Null values inCol1763 are 0
Number of Null values inCol1764 are 0
Number of Null values inCol1765 are 0
Number of Null values inCol1766 are 0
Number of Null values inCol1767 are 0
Number of Null values inCol1768 are 0
Number of Null values inCol1769 are 0
Number of Null values inCol1770 are 0
Number of Null values inCol1771 are 0
Number of Null values inCol1772 are 0
Number of Null values inCol1773 are 0
Number of Null values inCol1774 are 0
Number of Null values inCol1775 are 0
Number of Null values inCol1776 are 0
Number of Null values inCol1777 are 0
Number of Null values inCol1778 are 0
Number of Null values inCol1779 are 0
Number of Null values inCol1780 are 0
Number of Null values inCol1781 are 0
Number of Null values inCol1782 are 0
Number of Null values inCol1783 are 0
Number of Null values inCol1784 are 0
Number of Null values inCol1785 are 0
Number of Null values inCol1786 are 0
Number of Null values inCol1787 are 0
Number of Null values inCol1788 are 0
Number of Null values inCol1789 are 0
Number of Null values inCol1790 are 0
Number of Null values inCol1791 are 0
Number of Null values inCol1792 are 0
Number of Null values inCol1793 are 0
Number of Null values inCol1794 are 0
Number of Null values inCol1795 are 0
Number of Null values inCol1796 are 0
Number of Null values inCol1797 are 0
Number of Null values inCol1798 are 0
Number of Null values inCol1799 are 0
Number of Null values inCol1800 are 0
Number of Null values inCol1801 are 0
Number of Null values inCol1802 are 0
Number of Null values inCol1803 are 0
Number of Null values inCol1804 are 0
Number of Null values inCol1805 are 0
Number of Null values inCol1806 are 0
Number of Null values inCol1807 are 0
Number of Null values inCol1808 are 0
Number of Null values inCol1809 are 0
Number of Null values inCol1810 are 0
Number of Null values inCol1811 are 0
Number of Null values inCol1812 are 0
Number of Null values inCol1813 are 0
Number of Null values inCol1814 are 0
Number of Null values inCol1815 are 0
Number of Null values inCol1816 are 0
Number of Null values inCol1817 are 0
Number of Null values inCol1818 are 0
Number of Null values inCol1819 are 0
Number of Null values inCol1820 are 0
Number of Null values inCol1821 are 0
Number of Null values inCol1822 are 0
Number of Null values inCol1823 are 0
Number of Null values inCol1824 are 0
Number of Null values inCol1825 are 0
Number of Null values inCol1826 are 0
Number of Null values inCol1827 are 0
Number of Null values inCol1828 are 0
Number of Null values inCol1829 are 0
Number of Null values inCol1830 are 0
Number of Null values inCol1831 are 0
Number of Null values inCol1832 are 0
Number of Null values inCol1833 are 0
Number of Null values inCol1834 are 0
Number of Null values inCol1835 are 0
Number of Null values inCol1836 are 0
Number of Null values inCol1837 are 0
Number of Null values inCol1838 are 0
Number of Null values inCol1839 are 0
Number of Null values inCol1840 are 0
Number of Null values inCol1841 are 0
Number of Null values inCol1842 are 0
Number of Null values inCol1843 are 0
Number of Null values inCol1844 are 0
Number of Null values inCol1845 are 0
Number of Null values inCol1846 are 0
Number of Null values inCol1847 are 0
Number of Null values inCol1848 are 0
Number of Null values inCol1849 are 0
Number of Null values inCol1850 are 0
Number of Null values inCol1851 are 0
Number of Null values inCol1852 are 0
Number of Null values inCol1853 are 0
Number of Null values inCol1854 are 0
Number of Null values inCol1855 are 0
Number of Null values inCol1856 are 0
Number of Null values inCol1857 are 0
Number of Null values inCol1858 are 0
Number of Null values inCol1859 are 0
Number of Null values inCol1860 are 0
Number of Null values inCol1861 are 0
Number of Null values inCol1862 are 0
Number of Null values inCol1863 are 0
Number of Null values inCol1864 are 0
Number of Null values inCol1865 are 0
Number of Null values inCol1866 are 0
Number of Null values inCol1867 are 0
Number of Null values inCol1868 are 0
Number of Null values inCol1869 are 0
Number of Null values inCol1870 are 0
Number of Null values inCol1871 are 0
Number of Null values inCol1872 are 0
Number of Null values inCol1873 are 0
Number of Null values inCol1874 are 0
Number of Null values inCol1875 are 0
Number of Null values inCol1876 are 0
Number of Null values inCol1877 are 0
Number of Null values inCol1878 are 0
Number of Null values inCol1879 are 0
Number of Null values inCol1880 are 0

Number of Null values inCol1881 are 0
Number of Null values inCol1882 are 0
Number of Null values inCol1883 are 0
Number of Null values inCol1884 are 0
Number of Null values inCol1885 are 0
Number of Null values inCol1886 are 0
Number of Null values inCol1887 are 0
Number of Null values inCol1888 are 0
Number of Null values inCol1889 are 0
Number of Null values inCol1890 are 0
Number of Null values inCol1891 are 0
Number of Null values inCol1892 are 0
Number of Null values inCol1893 are 0
Number of Null values inCol1894 are 0
Number of Null values inCol1895 are 0
Number of Null values inCol1896 are 0
Number of Null values inCol1897 are 0
Number of Null values inCol1898 are 0
Number of Null values inCol1899 are 0
Number of Null values inCol1900 are 0
Number of Null values inCol1901 are 0
Number of Null values inCol1902 are 0
Number of Null values inCol1903 are 0
Number of Null values inCol1904 are 0
Number of Null values inCol1905 are 0
Number of Null values inCol1906 are 0
Number of Null values inCol1907 are 0
Number of Null values inCol1908 are 0
Number of Null values inCol1909 are 0
Number of Null values inCol1910 are 0
Number of Null values inCol1911 are 0
Number of Null values inCol1912 are 0
Number of Null values inCol1913 are 0
Number of Null values inCol1914 are 0
Number of Null values inCol1915 are 0
Number of Null values inCol1916 are 0
Number of Null values inCol1917 are 0
Number of Null values inCol1918 are 0
Number of Null values inCol1919 are 0
Number of Null values inCol1920 are 0
Number of Null values inCol1921 are 0
Number of Null values inCol1922 are 0
Number of Null values inCol1923 are 0
Number of Null values inCol1924 are 0
Number of Null values inCol1925 are 0
Number of Null values inCol1926 are 0
Number of Null values inCol1927 are 0
Number of Null values inCol1928 are 0
Number of Null values inCol1929 are 0
Number of Null values inCol1930 are 0
Number of Null values inCol1931 are 0
Number of Null values inCol1932 are 0
Number of Null values inCol1933 are 0
Number of Null values inCol1934 are 0
Number of Null values inCol1935 are 0
Number of Null values inCol1936 are 0
Number of Null values inCol1937 are 0
Number of Null values inCol1938 are 0
Number of Null values inCol1939 are 0
Number of Null values inCol1940 are 0
Number of Null values inCol1941 are 0
Number of Null values inCol1942 are 0
Number of Null values inCol1943 are 0
Number of Null values inCol1944 are 0
Number of Null values inCol1945 are 0
Number of Null values inCol1946 are 0
Number of Null values inCol1947 are 0
Number of Null values inCol1948 are 0
Number of Null values inCol1949 are 0
Number of Null values inCol1950 are 0
Number of Null values inCol1951 are 0
Number of Null values inCol1952 are 0
Number of Null values inCol1953 are 0
Number of Null values inCol1954 are 0
Number of Null values inCol1955 are 0
Number of Null values inCol1956 are 0
Number of Null values inCol1957 are 0
Number of Null values inCol1958 are 0
Number of Null values inCol1959 are 0
Number of Null values inCol1960 are 0
Number of Null values inCol1961 are 0
Number of Null values inCol1962 are 0
Number of Null values inCol1963 are 0
Number of Null values inCol1964 are 0
Number of Null values inCol1965 are 0
Number of Null values inCol1966 are 0
Number of Null values inCol1967 are 0
Number of Null values inCol1968 are 0
Number of Null values inCol1969 are 0
Number of Null values inCol1970 are 0
Number of Null values inCol1971 are 0
Number of Null values inCol1972 are 0
Number of Null values inCol1973 are 0
Number of Null values inCol1974 are 0
Number of Null values inCol1975 are 0
Number of Null values inCol1976 are 0
Number of Null values inCol1977 are 0
Number of Null values inCol1978 are 0
Number of Null values inCol1979 are 0
Number of Null values inCol1980 are 0
Number of Null values inCol1981 are 0
Number of Null values inCol1982 are 0
Number of Null values inCol1983 are 0
Number of Null values inCol1984 are 0
Number of Null values inCol1985 are 0
Number of Null values inCol1986 are 0
Number of Null values inCol1987 are 0
Number of Null values inCol1988 are 0
Number of Null values inCol1989 are 0
Number of Null values inCol1990 are 0
Number of Null values inCol1991 are 0
Number of Null values inCol1992 are 0
Number of Null values inCol1993 are 0
Number of Null values inCol1994 are 0
Number of Null values inCol1995 are 0
Number of Null values inCol1996 are 0
Number of Null values inCol1997 are 0
Number of Null values inCol1998 are 0
Number of Null values inCol1999 are 0
Number of Null values inCol2000 are 0
Number of Null values inCol2001 are 0
Number of Null values inCol2002 are 0
Number of Null values inCol2003 are 0
Number of Null values inCol2004 are 0
Number of Null values inCol2005 are 0
Number of Null values inCol2006 are 0
Number of Null values inCol2007 are 0
Number of Null values inCol2008 are 0
Number of Null values inCol2009 are 0
Number of Null values inCol2010 are 0
Number of Null values inCol2011 are 0
Number of Null values inCol2012 are 0
Number of Null values inCol2013 are 0
Number of Null values inCol2014 are 0
Number of Null values inCol2015 are 0
Number of Null values inCol2016 are 0
Number of Null values inCol2017 are 0
Number of Null values inCol2018 are 0
Number of Null values inCol2019 are 0
Number of Null values inCol2020 are 0
Number of Null values inCol2021 are 0
Number of Null values inCol2022 are 0
Number of Null values inCol2023 are 0
Number of Null values inCol2024 are 0
Number of Null values inCol2025 are 0
Number of Null values inCol2026 are 0
Number of Null values inCol2027 are 0
Number of Null values inCol2028 are 0
Number of Null values inCol2029 are 0
Number of Null values inCol2030 are 0
Number of Null values inCol2031 are 0
Number of Null values inCol2032 are 0
Number of Null values inCol2033 are 0
Number of Null values inCol2034 are 0
Number of Null values inCol2035 are 0
Number of Null values inCol2036 are 0
Number of Null values inCol2037 are 0
Number of Null values inCol2038 are 0
Number of Null values inCol2039 are 0
Number of Null values inCol2040 are 0
Number of Null values inCol2041 are 0
Number of Null values inCol2042 are 0
Number of Null values inCol2043 are 0
Number of Null values inCol2044 are 0
Number of Null values inCol2045 are 0
Number of Null values inCol2046 are 0
Number of Null values inCol2047 are 0
Number of Null values inCol2048 are 0
Number of Null values inCol2049 are 0
Number of Null values inCol2050 are 0
Number of Null values inCol2051 are 0
Number of Null values inCol2052 are 0
Number of Null values inCol2053 are 0
Number of Null values inCol2054 are 0
Number of Null values inCol2055 are 0
Number of Null values inCol2056 are 0
Number of Null values inCol2057 are 0
Number of Null values inCol2058 are 0
Number of Null values inCol2059 are 0
Number of Null values inCol2060 are 0
Number of Null values inCol2061 are 0
Number of Null values inCol2062 are 0
Number of Null values inCol2063 are 0
Number of Null values inCol2064 are 0
Number of Null values inCol2065 are 0
Number of Null values inCol2066 are 0
Number of Null values inCol2067 are 0
Number of Null values inCol2068 are 0
Number of Null values inCol2069 are 0
Number of Null values inCol2070 are 0
Number of Null values inCol2071 are 0
Number of Null values inCol2072 are 0
Number of Null values inCol2073 are 0
Number of Null values inCol2074 are 0
Number of Null values inCol2075 are 0
Number of Null values inCol2076 are 0
Number of Null values inCol2077 are 0
Number of Null values inCol2078 are 0
Number of Null values inCol2079 are 0
Number of Null values inCol2080 are 0
Number of Null values inCol2081 are 0
Number of Null values inCol2082 are 0
Number of Null values inCol2083 are 0
Number of Null values inCol2084 are 0
Number of Null values inCol2085 are 0
Number of Null values inCol2086 are 0
Number of Null values inCol2087 are 0
Number of Null values inCol2088 are 0
Number of Null values inCol2089 are 0
Number of Null values inCol2090 are 0
Number of Null values inCol2091 are 0
Number of Null values inCol2092 are 0
Number of Null values inCol2093 are 0
Number of Null values inCol2094 are 0
Number of Null values inCol2095 are 0
Number of Null values inCol2096 are 0
Number of Null values inCol2097 are 0
Number of Null values inCol2098 are 0
Number of Null values inCol2099 are 0
Number of Null values inCol2100 are 0
Number of Null values inCol2101 are 0
Number of Null values inCol2102 are 0
Number of Null values inCol2103 are 0
Number of Null values inCol2104 are 0
Number of Null values inCol2105 are 0
Number of Null values inCol2106 are 0
Number of Null values inCol2107 are 0
Number of Null values inCol2108 are 0
Number of Null values inCol2109 are 0
Number of Null values inCol2110 are 0
Number of Null values inCol2111 are 0
Number of Null values inCol2112 are 0
Number of Null values inCol2113 are 0
Number of Null values inCol2114 are 0
Number of Null values inCol2115 are 0
Number of Null values inCol2116 are 0
Number of Null values inCol2117 are 0
Number of Null values inCol2118 are 0
Number of Null values inCol2119 are 0
Number of Null values inCol2120 are 0
Number of Null values inCol2121 are 0
Number of Null values inCol2122 are 0
Number of Null values inCol2123 are 0
Number of Null values inCol2124 are 0
Number of Null values inCol2125 are 0
Number of Null values inCol2126 are 0
Number of Null values inCol2127 are 0
Number of Null values inCol2128 are 0
Number of Null values inCol2129 are 0
Number of Null values inCol2130 are 0
Number of Null values inCol2131 are 0
Number of Null values inCol2132 are 0
Number of Null values inCol2133 are 0
Number of Null values inCol2134 are 0
Number of Null values inCol2135 are 0
Number of Null values inCol2136 are 0
Number of Null values inCol2137 are 0
Number of Null values inCol2138 are 0
Number of Null values inCol2139 are 0
Number of Null values inCol2140 are 0
Number of Null values inCol2141 are 0
Number of Null values inCol2142 are 0
Number of Null values inCol2143 are 0
Number of Null values inCol2144 are 0
Number of Null values inCol2145 are 0
Number of Null values inCol2146 are 0
Number of Null values inCol2147 are 0
Number of Null values inCol2148 are 0
Number of Null values inCol2149 are 0
Number of Null values inCol2150 are 0
Number of Null values inCol2151 are 0
Number of Null values inCol2152 are 0
Number of Null values inCol2153 are 0
Number of Null values inCol2154 are 0
Number of Null values inCol2155 are 0
Number of Null values inCol2156 are 0
Number of Null values inCol2157 are 0
Number of Null values inCol2158 are 0
Number of Null values inCol2159 are 0
Number of Null values inCol2160 are 0
Number of Null values inCol2161 are 0
Number of Null values inCol2162 are 0
Number of Null values inCol2163 are 0
Number of Null values inCol2164 are 0
Number of Null values inCol2165 are 0
Number of Null values inCol2166 are 0
Number of Null values inCol2167 are 0
Number of Null values inCol2168 are 0
Number of Null values inCol2169 are 0
Number of Null values inCol2170 are 0
Number of Null values inCol2171 are 0
Number of Null values inCol2172 are 0
Number of Null values inCol2173 are 0
Number of Null values inCol2174 are 0
Number of Null values inCol2175 are 0
Number of Null values inCol2176 are 0
Number of Null values inCol2177 are 0
Number of Null values inCol2178 are 0
Number of Null values inCol2179 are 0
Number of Null values inCol2180 are 0
Number of Null values inCol2181 are 0
Number of Null values inCol2182 are 0
Number of Null values inCol2183 are 0
Number of Null values inCol2184 are 0
Number of Null values inCol2185 are 0
Number of Null values inCol2186 are 0
Number of Null values inCol2187 are 0
Number of Null values inCol2188 are 0
Number of Null values inCol2189 are 0
Number of Null values inCol2190 are 0
Number of Null values inCol2191 are 0
Number of Null values inCol2192 are 0
Number of Null values inCol2193 are 0
Number of Null values inCol2194 are 0
Number of Null values inCol2195 are 0
Number of Null values inCol2196 are 0
Number of Null values inCol2197 are 0
Number of Null values inCol2198 are 0
Number of Null values inCol2199 are 0
Number of Null values inCol2200 are 0
Number of Null values inCol2201 are 0
Number of Null values inCol2202 are 0
Number of Null values inCol2203 are 0
Number of Null values inCol2204 are 0
Number of Null values inCol2205 are 0
Number of Null values inCol2206 are 0
Number of Null values inCol2207 are 0
Number of Null values inCol2208 are 0
Number of Null values inCol2209 are 0
Number of Null values inCol2210 are 0
Number of Null values inCol2211 are 0
Number of Null values inCol2212 are 0
Number of Null values inCol2213 are 0
Number of Null values inCol2214 are 0
Number of Null values inCol2215 are 0
Number of Null values inCol2216 are 0
Number of Null values inCol2217 are 0
Number of Null values inCol2218 are 0
Number of Null values inCol2219 are 0
Number of Null values inCol2220 are 0
Number of Null values inCol2221 are 0
Number of Null values inCol2222 are 0
Number of Null values inCol2223 are 0
Number of Null values inCol2224 are 0
Number of Null values inCol2225 are 0
Number of Null values inCol2226 are 0

Number of Null values inCol2227 are 0
Number of Null values inCol2228 are 0
Number of Null values inCol2229 are 0
Number of Null values inCol2230 are 0
Number of Null values inCol2231 are 0
Number of Null values inCol2232 are 0
Number of Null values inCol2233 are 0
Number of Null values inCol2234 are 0
Number of Null values inCol2235 are 0
Number of Null values inCol2236 are 0
Number of Null values inCol2237 are 0
Number of Null values inCol2238 are 0
Number of Null values inCol2239 are 0
Number of Null values inCol2240 are 0
Number of Null values inCol2241 are 0
Number of Null values inCol2242 are 0
Number of Null values inCol2243 are 0
Number of Null values inCol2244 are 0
Number of Null values inCol2245 are 0
Number of Null values inCol2246 are 0
Number of Null values inCol2247 are 0
Number of Null values inCol2248 are 0
Number of Null values inCol2249 are 0
Number of Null values inCol2250 are 0
Number of Null values inCol2251 are 0
Number of Null values inCol2252 are 0
Number of Null values inCol2253 are 0
Number of Null values inCol2254 are 0
Number of Null values inCol2255 are 0
Number of Null values inCol2256 are 0
Number of Null values inCol2257 are 0
Number of Null values inCol2258 are 0
Number of Null values inCol2259 are 0
Number of Null values inCol2260 are 0
Number of Null values inCol2261 are 0
Number of Null values inCol2262 are 0
Number of Null values inCol2263 are 0
Number of Null values inCol2264 are 0
Number of Null values inCol2265 are 0
Number of Null values inCol2266 are 0
Number of Null values inCol2267 are 0
Number of Null values inCol2268 are 0
Number of Null values inCol2269 are 0
Number of Null values inCol2270 are 0
Number of Null values inCol2271 are 0
Number of Null values inCol2272 are 0
Number of Null values inCol2273 are 0
Number of Null values inCol2274 are 0
Number of Null values inCol2275 are 0
Number of Null values inCol2276 are 0
Number of Null values inCol2277 are 0
Number of Null values inCol2278 are 0
Number of Null values inCol2279 are 0
Number of Null values inCol2280 are 0
Number of Null values inCol2281 are 0
Number of Null values inCol2282 are 0
Number of Null values inCol2283 are 0
Number of Null values inCol2284 are 0
Number of Null values inCol2285 are 0
Number of Null values inCol2286 are 0
Number of Null values inCol2287 are 0
Number of Null values inCol2288 are 0
Number of Null values inCol2289 are 0
Number of Null values inCol2290 are 0
Number of Null values inCol2291 are 0
Number of Null values inCol2292 are 0
Number of Null values inCol2293 are 0
Number of Null values inCol2294 are 0
Number of Null values inCol2295 are 0
Number of Null values inCol2296 are 0
Number of Null values inCol2297 are 0
Number of Null values inCol2298 are 0
Number of Null values inCol2299 are 0
Number of Null values inCol2300 are 0
Number of Null values inCol2301 are 0
Number of Null values inCol2302 are 0
Number of Null values inCol2303 are 0
Number of Null values inCol2304 are 0
Number of Null values inCol2305 are 0
Number of Null values inCol2306 are 0
Number of Null values inCol2307 are 0
Number of Null values inCol2308 are 0
Number of Null values inCol2309 are 0
Number of Null values inCol2310 are 0
Number of Null values inCol2311 are 0
Number of Null values inCol2312 are 0
Number of Null values inCol2313 are 0
Number of Null values inCol2314 are 0
Number of Null values inCol2315 are 0
Number of Null values inCol2316 are 0
Number of Null values inCol2317 are 0
Number of Null values inCol2318 are 0
Number of Null values inCol2319 are 0
Number of Null values inCol2320 are 0
Number of Null values inCol2321 are 0
Number of Null values inCol2322 are 0
Number of Null values inCol2323 are 0
Number of Null values inCol2324 are 0
Number of Null values inCol2325 are 0
Number of Null values inCol2326 are 0
Number of Null values inCol2327 are 0
Number of Null values inCol2328 are 0
Number of Null values inCol2329 are 0
Number of Null values inCol2330 are 0
Number of Null values inCol2331 are 0
Number of Null values inCol2332 are 0
Number of Null values inCol2333 are 0
Number of Null values inCol2334 are 0
Number of Null values inCol2335 are 0
Number of Null values inCol2336 are 0
Number of Null values inCol2337 are 0
Number of Null values inCol2338 are 0
Number of Null values inCol2339 are 0
Number of Null values inCol2340 are 0
Number of Null values inCol2341 are 0
Number of Null values inCol2342 are 0
Number of Null values inCol2343 are 0
Number of Null values inCol2344 are 0
Number of Null values inCol2345 are 0
Number of Null values inCol2346 are 0
Number of Null values inCol2347 are 0
Number of Null values inCol2348 are 0
Number of Null values inCol2349 are 0
Number of Null values inCol2350 are 0
Number of Null values inCol2351 are 0
Number of Null values inCol2352 are 0
Number of Null values inCol2353 are 0
Number of Null values inCol2354 are 0
Number of Null values inCol2355 are 0
Number of Null values inCol2356 are 0
Number of Null values inCol2357 are 0
Number of Null values inCol2358 are 0
Number of Null values inCol2359 are 0
Number of Null values inCol2360 are 0
Number of Null values inCol2361 are 0
Number of Null values inCol2362 are 0
Number of Null values inCol2363 are 0
Number of Null values inCol2364 are 0
Number of Null values inCol2365 are 0
Number of Null values inCol2366 are 0
Number of Null values inCol2367 are 0
Number of Null values inCol2368 are 0
Number of Null values inCol2369 are 0
Number of Null values inCol2370 are 0
Number of Null values inCol2371 are 0
Number of Null values inCol2372 are 0
Number of Null values inCol2373 are 0
Number of Null values inCol2374 are 0
Number of Null values inCol2375 are 0
Number of Null values inCol2376 are 0
Number of Null values inCol2377 are 0
Number of Null values inCol2378 are 0
Number of Null values inCol2379 are 0
Number of Null values inCol2380 are 0
Number of Null values inCol2381 are 0
Number of Null values inCol2382 are 0
Number of Null values inCol2383 are 0
Number of Null values inCol2384 are 0
Number of Null values inCol2385 are 0
Number of Null values inCol2386 are 0
Number of Null values inCol2387 are 0
Number of Null values inCol2388 are 0
Number of Null values inCol2389 are 0
Number of Null values inCol2390 are 0
Number of Null values inCol2391 are 0
Number of columns in train1_df are 1636

In [50]:
train1_df.head()
train_final = train1_df.drop('Col1', 1)
train_final.head()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
0,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,9.114586e+03,...,0,0,0,0,0,0,0,1,0,1
1,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,2.013518e+05,...,0,0,0,0,0,0,0,0,0,0
2,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,9.368338e+06,...,0,0,0,0,0,0,0,1,1,0
3,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,4.304848e+05,...,0,0,1,2,0,0,0,0,0,0
4,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,3.473444e+06,...,0,0,0,0,2,0,0,0,0,0

*** Performing Similar preprocessing to  the test data ***

In [58]:
null_columns1=test_df.columns[test_df.isnull().any()]
a2 = test_df[null_columns].isnull().sum()
test1_df = test_df.drop(null_columns1, 1)
test1_df_columns = test1_df.columns
for i in test1_df_columns:
    print('Number of Null values in' + "{} are {}".format(i, test1_df[str(i)].isnull().sum()))
print("Number of columns in test1_df are {}".format(len(test1_df.columns)))
test_final = test1_df.drop('Col1', 1)

Number of Null values inCol1 are 0
Number of Null values inCol3 are 0
Number of Null values inCol4 are 0
Number of Null values inCol5 are 0
Number of Null values inCol6 are 0
Number of Null values inCol7 are 0
Number of Null values inCol8 are 0
Number of Null values inCol9 are 0
Number of Null values inCol10 are 0
Number of Null values inCol11 are 0
Number of Null values inCol12 are 0
Number of Null values inCol25 are 0
Number of Null values inCol26 are 0
Number of Null values inCol29 are 0
Number of Null values inCol30 are 0
Number of Null values inCol31 are 0
Number of Null values inCol32 are 0
Number of Null values inCol33 are 0
Number of Null values inCol34 are 0
Number of Null values inCol35 are 0
Number of Null values inCol36 are 0
Number of Null values inCol44 are 0
Number of Null values inCol45 are 0
Number of Null values inCol46 are 0
Number of Null values inCol47 are 0
Number of Null values inCol48 are 0
Number of Null values inCol49 are 0
Number of Null values inCol50 are 0
Number of Null values inCol51 are 0
Number of Null values inCol52 are 0
Number of Null values inCol53 are 0
Number of Null values inCol54 are 0
Number of Null values inCol55 are 0
Number of Null values inCol56 are 0
Number of Null values inCol57 are 0
Number of Null values inCol58 are 0
Number of Null values inCol59 are 0
Number of Null values inCol60 are 0
Number of Null values inCol61 are 0
Number of Null values inCol62 are 0
Number of Null values inCol63 are 0
Number of Null values inCol64 are 0
Number of Null values inCol65 are 0
Number of Null values inCol66 are 0
Number of Null values inCol67 are 0
Number of Null values inCol68 are 0
Number of Null values inCol69 are 0
Number of Null values inCol70 are 0
Number of Null values inCol71 are 0
Number of Null values inCol72 are 0
Number of Null values inCol73 are 0
Number of Null values inCol74 are 0
Number of Null values inCol75 are 0
Number of Null values inCol76 are 0
Number of Null values inCol77 are 0
Number of Null values inCol78 are 0
Number of Null values inCol79 are 0
Number of Null values inCol80 are 0
Number of Null values inCol81 are 0
Number of Null values inCol82 are 0
Number of Null values inCol83 are 0
Number of Null values inCol84 are 0
Number of Null values inCol85 are 0
Number of Null values inCol86 are 0
Number of Null values inCol87 are 0
Number of Null values inCol88 are 0
Number of Null values inCol89 are 0
Number of Null values inCol90 are 0
Number of Null values inCol91 are 0
Number of Null values inCol120 are 0
Number of Null values inCol121 are 0
Number of Null values inCol122 are 0
Number of Null values inCol123 are 0
Number of Null values inCol124 are 0
Number of Null values inCol125 are 0
Number of Null values inCol126 are 0
Number of Null values inCol127 are 0
Number of Null values inCol128 are 0
Number of Null values inCol129 are 0
Number of Null values inCol130 are 0
Number of Null values inCol131 are 0
Number of Null values inCol132 are 0
Number of Null values inCol133 are 0
Number of Null values inCol134 are 0
Number of Null values inCol135 are 0
Number of Null values inCol136 are 0
Number of Null values inCol137 are 0
Number of Null values inCol160 are 0
Number of Null values inCol161 are 0
Number of Null values inCol168 are 0
Number of Null values inCol169 are 0
Number of Null values inCol170 are 0
Number of Null values inCol181 are 0
Number of Null values inCol182 are 0
Number of Null values inCol183 are 0
Number of Null values inCol184 are 0
Number of Null values inCol186 are 0
Number of Null values inCol187 are 0
Number of Null values inCol188 are 0
Number of Null values inCol189 are 0
Number of Null values inCol190 are 0
Number of Null values inCol191 are 0
Number of Null values inCol192 are 0
Number of Null values inCol193 are 0
Number of Null values inCol194 are 0
Number of Null values inCol195 are 0
Number of Null values inCol196 are 0
Number of Null values inCol197 are 0
Number of Null values inCol198 are 0
Number of Null values inCol199 are 0
Number of Null values inCol200 are 0
Number of Null values inCol201 are 0
Number of Null values inCol202 are 0
Number of Null values inCol203 are 0
Number of Null values inCol204 are 0
Number of Null values inCol205 are 0
Number of Null values inCol206 are 0
Number of Null values inCol207 are 0
Number of Null values inCol378 are 0
Number of Null values inCol379 are 0
Number of Null values inCol380 are 0
Number of Null values inCol381 are 0
Number of Null values inCol383 are 0
Number of Null values inCol384 are 0
Number of Null values inCol385 are 0
Number of Null values inCol386 are 0
Number of Null values inCol387 are 0
Number of Null values inCol388 are 0
Number of Null values inCol389 are 0
Number of Null values inCol390 are 0
Number of Null values inCol391 are 0
Number of Null values inCol392 are 0
Number of Null values inCol393 are 0
Number of Null values inCol394 are 0
Number of Null values inCol395 are 0
Number of Null values inCol396 are 0
Number of Null values inCol397 are 0
Number of Null values inCol398 are 0
Number of Null values inCol399 are 0
Number of Null values inCol400 are 0
Number of Null values inCol401 are 0
Number of Null values inCol402 are 0
Number of Null values inCol403 are 0
Number of Null values inCol404 are 0
Number of Null values inCol575 are 0
Number of Null values inCol576 are 0
Number of Null values inCol577 are 0
Number of Null values inCol578 are 0
Number of Null values inCol579 are 0
Number of Null values inCol580 are 0
Number of Null values inCol581 are 0
Number of Null values inCol582 are 0
Number of Null values inCol583 are 0
Number of Null values inCol584 are 0
Number of Null values inCol585 are 0
Number of Null values inCol586 are 0
Number of Null values inCol587 are 0
Number of Null values inCol588 are 0
Number of Null values inCol589 are 0
Number of Null values inCol590 are 0
Number of Null values inCol591 are 0
Number of Null values inCol592 are 0
Number of Null values inCol593 are 0
Number of Null values inCol594 are 0
Number of Null values inCol595 are 0
Number of Null values inCol596 are 0
Number of Null values inCol597 are 0
Number of Null values inCol598 are 0
Number of Null values inCol599 are 0
Number of Null values inCol600 are 0
Number of Null values inCol917 are 0
Number of Null values inCol918 are 0
Number of Null values inCol919 are 0
Number of Null values inCol922 are 0
Number of Null values inCol923 are 0
Number of Null values inCol924 are 0
Number of Null values inCol927 are 0
Number of Null values inCol928 are 0
Number of Null values inCol929 are 0
Number of Null values inCol934 are 0
Number of Null values inCol935 are 0
Number of Null values inCol936 are 0
Number of Null values inCol937 are 0
Number of Null values inCol938 are 0
Number of Null values inCol939 are 0
Number of Null values inCol940 are 0
Number of Null values inCol941 are 0
Number of Null values inCol942 are 0
Number of Null values inCol943 are 0
Number of Null values inCol944 are 0
Number of Null values inCol945 are 0
Number of Null values inCol946 are 0
Number of Null values inCol947 are 0
Number of Null values inCol948 are 0
Number of Null values inCol949 are 0
Number of Null values inCol950 are 0
Number of Null values inCol951 are 0
Number of Null values inCol952 are 0
Number of Null values inCol953 are 0
Number of Null values inCol954 are 0
Number of Null values inCol955 are 0
Number of Null values inCol956 are 0
Number of Null values inCol957 are 0
Number of Null values inCol958 are 0
Number of Null values inCol959 are 0
Number of Null values inCol960 are 0
Number of Null values inCol961 are 0
Number of Null values inCol962 are 0
Number of Null values inCol963 are 0
Number of Null values inCol964 are 0
Number of Null values inCol965 are 0
Number of Null values inCol966 are 0
Number of Null values inCol967 are 0
Number of Null values inCol968 are 0
Number of Null values inCol969 are 0
Number of Null values inCol970 are 0
Number of Null values inCol971 are 0
Number of Null values inCol972 are 0
Number of Null values inCol973 are 0
Number of Null values inCol974 are 0
Number of Null values inCol975 are 0
Number of Null values inCol976 are 0
Number of Null values inCol977 are 0
Number of Null values inCol978 are 0
Number of Null values inCol979 are 0
Number of Null values inCol980 are 0
Number of Null values inCol981 are 0
Number of Null values inCol982 are 0
Number of Null values inCol983 are 0
Number of Null values inCol984 are 0
Number of Null values inCol985 are 0
Number of Null values inCol986 are 0
Number of Null values inCol987 are 0
Number of Null values inCol988 are 0
Number of Null values inCol989 are 0
Number of Null values inCol990 are 0
Number of Null values inCol991 are 0
Number of Null values inCol992 are 0
Number of Null values inCol993 are 0
Number of Null values inCol994 are 0
Number of Null values inCol995 are 0
Number of Null values inCol996 are 0
Number of Null values inCol997 are 0
Number of Null values inCol998 are 0
Number of Null values inCol999 are 0
Number of Null values inCol1000 are 0
Number of Null values inCol1001 are 0
Number of Null values inCol1002 are 0
Number of Null values inCol1003 are 0
Number of Null values inCol1004 are 0
Number of Null values inCol1005 are 0
Number of Null values inCol1006 are 0
Number of Null values inCol1007 are 0
Number of Null values inCol1008 are 0
Number of Null values inCol1009 are 0
Number of Null values inCol1010 are 0
Number of Null values inCol1011 are 0
Number of Null values inCol1012 are 0
Number of Null values inCol1013 are 0
Number of Null values inCol1014 are 0
Number of Null values inCol1015 are 0
Number of Null values inCol1016 are 0
Number of Null values inCol1017 are 0
Number of Null values inCol1018 are 0
Number of Null values inCol1019 are 0
Number of Null values inCol1020 are 0
Number of Null values inCol1021 are 0
Number of Null values inCol1022 are 0
Number of Null values inCol1023 are 0
Number of Null values inCol1024 are 0
Number of Null values inCol1025 are 0
Number of Null values inCol1026 are 0
Number of Null values inCol1027 are 0
Number of Null values inCol1028 are 0
Number of Null values inCol1029 are 0
Number of Null values inCol1030 are 0
Number of Null values inCol1031 are 0
Number of Null values inCol1032 are 0
Number of Null values inCol1033 are 0
Number of Null values inCol1034 are 0
Number of Null values inCol1035 are 0
Number of Null values inCol1036 are 0
Number of Null values inCol1037 are 0
Number of Null values inCol1038 are 0
Number of Null values inCol1039 are 0
Number of Null values inCol1040 are 0
Number of Null values inCol1041 are 0
Number of Null values inCol1042 are 0
Number of Null values inCol1043 are 0
Number of Null values inCol1044 are 0
Number of Null values inCol1045 are 0
Number of Null values inCol1046 are 0
Number of Null values inCol1047 are 0
Number of Null values inCol1048 are 0
Number of Null values inCol1049 are 0
Number of Null values inCol1050 are 0
Number of Null values inCol1051 are 0
Number of Null values inCol1052 are 0
Number of Null values inCol1053 are 0
Number of Null values inCol1054 are 0
Number of Null values inCol1055 are 0
Number of Null values inCol1056 are 0
Number of Null values inCol1057 are 0
Number of Null values inCol1058 are 0
Number of Null values inCol1059 are 0
Number of Null values inCol1060 are 0
Number of Null values inCol1061 are 0
Number of Null values inCol1062 are 0
Number of Null values inCol1063 are 0
Number of Null values inCol1064 are 0
Number of Null values inCol1065 are 0
Number of Null values inCol1066 are 0
Number of Null values inCol1067 are 0
Number of Null values inCol1068 are 0
Number of Null values inCol1069 are 0
Number of Null values inCol1070 are 0
Number of Null values inCol1071 are 0
Number of Null values inCol1072 are 0
Number of Null values inCol1073 are 0
Number of Null values inCol1074 are 0
Number of Null values inCol1075 are 0
Number of Null values inCol1076 are 0
Number of Null values inCol1077 are 0
Number of Null values inCol1078 are 0
Number of Null values inCol1079 are 0
Number of Null values inCol1080 are 0
Number of Null values inCol1081 are 0
Number of Null values inCol1082 are 0
Number of Null values inCol1083 are 0
Number of Null values inCol1084 are 0
Number of Null values inCol1085 are 0
Number of Null values inCol1086 are 0
Number of Null values inCol1087 are 0
Number of Null values inCol1088 are 0
Number of Null values inCol1089 are 0
Number of Null values inCol1090 are 0
Number of Null values inCol1091 are 0
Number of Null values inCol1092 are 0
Number of Null values inCol1093 are 0
Number of Null values inCol1094 are 0
Number of Null values inCol1095 are 0
Number of Null values inCol1096 are 0
Number of Null values inCol1097 are 0
Number of Null values inCol1098 are 0
Number of Null values inCol1099 are 0
Number of Null values inCol1100 are 0
Number of Null values inCol1101 are 0
Number of Null values inCol1102 are 0
Number of Null values inCol1103 are 0
Number of Null values inCol1104 are 0
Number of Null values inCol1105 are 0
Number of Null values inCol1106 are 0
Number of Null values inCol1107 are 0
Number of Null values inCol1108 are 0
Number of Null values inCol1109 are 0
Number of Null values inCol1110 are 0
Number of Null values inCol1111 are 0
Number of Null values inCol1112 are 0
Number of Null values inCol1113 are 0
Number of Null values inCol1114 are 0
Number of Null values inCol1115 are 0
Number of Null values inCol1116 are 0
Number of Null values inCol1117 are 0
Number of Null values inCol1118 are 0
Number of Null values inCol1119 are 0
Number of Null values inCol1120 are 0
Number of Null values inCol1121 are 0
Number of Null values inCol1122 are 0
Number of Null values inCol1123 are 0
Number of Null values inCol1124 are 0
Number of Null values inCol1125 are 0
Number of Null values inCol1126 are 0
Number of Null values inCol1127 are 0
Number of Null values inCol1128 are 0
Number of Null values inCol1129 are 0
Number of Null values inCol1130 are 0
Number of Null values inCol1131 are 0
Number of Null values inCol1132 are 0
Number of Null values inCol1133 are 0
Number of Null values inCol1134 are 0
Number of Null values inCol1135 are 0
Number of Null values inCol1136 are 0
Number of Null values inCol1137 are 0
Number of Null values inCol1138 are 0
Number of Null values inCol1139 are 0

Number of Null values inCol1140 are 0
Number of Null values inCol1141 are 0
Number of Null values inCol1142 are 0
Number of Null values inCol1143 are 0
Number of Null values inCol1144 are 0
Number of Null values inCol1145 are 0
Number of Null values inCol1146 are 0
Number of Null values inCol1147 are 0
Number of Null values inCol1148 are 0
Number of Null values inCol1149 are 0
Number of Null values inCol1150 are 0
Number of Null values inCol1151 are 0
Number of Null values inCol1152 are 0
Number of Null values inCol1153 are 0
Number of Null values inCol1154 are 0
Number of Null values inCol1155 are 0
Number of Null values inCol1156 are 0
Number of Null values inCol1157 are 0
Number of Null values inCol1158 are 0
Number of Null values inCol1159 are 0
Number of Null values inCol1160 are 0
Number of Null values inCol1161 are 0
Number of Null values inCol1162 are 0
Number of Null values inCol1163 are 0
Number of Null values inCol1164 are 0
Number of Null values inCol1165 are 0
Number of Null values inCol1166 are 0
Number of Null values inCol1167 are 0
Number of Null values inCol1168 are 0
Number of Null values inCol1169 are 0
Number of Null values inCol1170 are 0
Number of Null values inCol1171 are 0
Number of Null values inCol1172 are 0
Number of Null values inCol1173 are 0
Number of Null values inCol1174 are 0
Number of Null values inCol1175 are 0
Number of Null values inCol1176 are 0
Number of Null values inCol1177 are 0
Number of Null values inCol1178 are 0
Number of Null values inCol1179 are 0
Number of Null values inCol1180 are 0
Number of Null values inCol1181 are 0
Number of Null values inCol1182 are 0
Number of Null values inCol1183 are 0
Number of Null values inCol1184 are 0
Number of Null values inCol1185 are 0
Number of Null values inCol1186 are 0
Number of Null values inCol1187 are 0
Number of Null values inCol1188 are 0
Number of Null values inCol1189 are 0
Number of Null values inCol1190 are 0
Number of Null values inCol1191 are 0
Number of Null values inCol1192 are 0
Number of Null values inCol1193 are 0
Number of Null values inCol1194 are 0
Number of Null values inCol1195 are 0
Number of Null values inCol1196 are 0
Number of Null values inCol1197 are 0
Number of Null values inCol1198 are 0
Number of Null values inCol1199 are 0
Number of Null values inCol1200 are 0
Number of Null values inCol1201 are 0
Number of Null values inCol1202 are 0
Number of Null values inCol1203 are 0
Number of Null values inCol1204 are 0
Number of Null values inCol1205 are 0
Number of Null values inCol1206 are 0
Number of Null values inCol1207 are 0
Number of Null values inCol1208 are 0
Number of Null values inCol1209 are 0
Number of Null values inCol1210 are 0
Number of Null values inCol1211 are 0
Number of Null values inCol1212 are 0
Number of Null values inCol1213 are 0
Number of Null values inCol1214 are 0
Number of Null values inCol1215 are 0
Number of Null values inCol1216 are 0
Number of Null values inCol1217 are 0
Number of Null values inCol1218 are 0
Number of Null values inCol1219 are 0
Number of Null values inCol1220 are 0
Number of Null values inCol1221 are 0
Number of Null values inCol1222 are 0
Number of Null values inCol1223 are 0
Number of Null values inCol1224 are 0
Number of Null values inCol1225 are 0
Number of Null values inCol1226 are 0
Number of Null values inCol1227 are 0
Number of Null values inCol1228 are 0
Number of Null values inCol1229 are 0
Number of Null values inCol1230 are 0
Number of Null values inCol1231 are 0
Number of Null values inCol1232 are 0
Number of Null values inCol1233 are 0
Number of Null values inCol1234 are 0
Number of Null values inCol1235 are 0
Number of Null values inCol1236 are 0
Number of Null values inCol1237 are 0
Number of Null values inCol1238 are 0
Number of Null values inCol1239 are 0
Number of Null values inCol1240 are 0
Number of Null values inCol1241 are 0
Number of Null values inCol1242 are 0
Number of Null values inCol1243 are 0
Number of Null values inCol1244 are 0
Number of Null values inCol1245 are 0
Number of Null values inCol1246 are 0
Number of Null values inCol1247 are 0
Number of Null values inCol1248 are 0
Number of Null values inCol1249 are 0
Number of Null values inCol1250 are 0
Number of Null values inCol1251 are 0
Number of Null values inCol1252 are 0
Number of Null values inCol1253 are 0
Number of Null values inCol1254 are 0
Number of Null values inCol1255 are 0
Number of Null values inCol1256 are 0
Number of Null values inCol1257 are 0
Number of Null values inCol1258 are 0
Number of Null values inCol1259 are 0
Number of Null values inCol1260 are 0
Number of Null values inCol1261 are 0
Number of Null values inCol1262 are 0
Number of Null values inCol1263 are 0
Number of Null values inCol1264 are 0
Number of Null values inCol1265 are 0
Number of Null values inCol1266 are 0
Number of Null values inCol1267 are 0
Number of Null values inCol1268 are 0
Number of Null values inCol1269 are 0
Number of Null values inCol1270 are 0
Number of Null values inCol1271 are 0
Number of Null values inCol1272 are 0
Number of Null values inCol1273 are 0
Number of Null values inCol1274 are 0
Number of Null values inCol1275 are 0
Number of Null values inCol1276 are 0
Number of Null values inCol1277 are 0
Number of Null values inCol1278 are 0
Number of Null values inCol1279 are 0
Number of Null values inCol1280 are 0
Number of Null values inCol1281 are 0
Number of Null values inCol1282 are 0
Number of Null values inCol1283 are 0
Number of Null values inCol1284 are 0
Number of Null values inCol1285 are 0
Number of Null values inCol1286 are 0
Number of Null values inCol1287 are 0
Number of Null values inCol1288 are 0
Number of Null values inCol1289 are 0
Number of Null values inCol1290 are 0
Number of Null values inCol1291 are 0
Number of Null values inCol1292 are 0
Number of Null values inCol1293 are 0
Number of Null values inCol1294 are 0
Number of Null values inCol1295 are 0
Number of Null values inCol1296 are 0
Number of Null values inCol1297 are 0
Number of Null values inCol1298 are 0
Number of Null values inCol1299 are 0
Number of Null values inCol1300 are 0
Number of Null values inCol1301 are 0
Number of Null values inCol1302 are 0
Number of Null values inCol1303 are 0
Number of Null values inCol1304 are 0
Number of Null values inCol1305 are 0
Number of Null values inCol1306 are 0
Number of Null values inCol1307 are 0
Number of Null values inCol1308 are 0
Number of Null values inCol1309 are 0
Number of Null values inCol1310 are 0
Number of Null values inCol1311 are 0
Number of Null values inCol1312 are 0
Number of Null values inCol1313 are 0
Number of Null values inCol1314 are 0
Number of Null values inCol1315 are 0
Number of Null values inCol1316 are 0
Number of Null values inCol1317 are 0
Number of Null values inCol1318 are 0
Number of Null values inCol1319 are 0
Number of Null values inCol1320 are 0
Number of Null values inCol1321 are 0
Number of Null values inCol1322 are 0
Number of Null values inCol1323 are 0
Number of Null values inCol1324 are 0
Number of Null values inCol1325 are 0
Number of Null values inCol1326 are 0
Number of Null values inCol1327 are 0
Number of Null values inCol1328 are 0
Number of Null values inCol1329 are 0
Number of Null values inCol1330 are 0
Number of Null values inCol1331 are 0
Number of Null values inCol1332 are 0
Number of Null values inCol1333 are 0
Number of Null values inCol1334 are 0
Number of Null values inCol1335 are 0
Number of Null values inCol1336 are 0
Number of Null values inCol1337 are 0
Number of Null values inCol1338 are 0
Number of Null values inCol1339 are 0
Number of Null values inCol1340 are 0
Number of Null values inCol1341 are 0
Number of Null values inCol1342 are 0
Number of Null values inCol1343 are 0
Number of Null values inCol1344 are 0
Number of Null values inCol1345 are 0
Number of Null values inCol1346 are 0
Number of Null values inCol1347 are 0
Number of Null values inCol1348 are 0
Number of Null values inCol1349 are 0
Number of Null values inCol1350 are 0
Number of Null values inCol1351 are 0
Number of Null values inCol1352 are 0
Number of Null values inCol1353 are 0
Number of Null values inCol1354 are 0
Number of Null values inCol1355 are 0
Number of Null values inCol1356 are 0
Number of Null values inCol1357 are 0
Number of Null values inCol1358 are 0
Number of Null values inCol1359 are 0
Number of Null values inCol1360 are 0
Number of Null values inCol1361 are 0
Number of Null values inCol1362 are 0
Number of Null values inCol1363 are 0
Number of Null values inCol1364 are 0
Number of Null values inCol1365 are 0
Number of Null values inCol1366 are 0
Number of Null values inCol1367 are 0
Number of Null values inCol1368 are 0
Number of Null values inCol1369 are 0
Number of Null values inCol1370 are 0
Number of Null values inCol1371 are 0
Number of Null values inCol1372 are 0
Number of Null values inCol1373 are 0
Number of Null values inCol1374 are 0
Number of Null values inCol1375 are 0
Number of Null values inCol1376 are 0
Number of Null values inCol1377 are 0
Number of Null values inCol1378 are 0
Number of Null values inCol1379 are 0
Number of Null values inCol1380 are 0
Number of Null values inCol1381 are 0
Number of Null values inCol1382 are 0
Number of Null values inCol1383 are 0
Number of Null values inCol1384 are 0
Number of Null values inCol1385 are 0
Number of Null values inCol1386 are 0
Number of Null values inCol1387 are 0
Number of Null values inCol1388 are 0
Number of Null values inCol1389 are 0
Number of Null values inCol1390 are 0
Number of Null values inCol1391 are 0
Number of Null values inCol1392 are 0
Number of Null values inCol1393 are 0
Number of Null values inCol1394 are 0
Number of Null values inCol1395 are 0
Number of Null values inCol1396 are 0
Number of Null values inCol1397 are 0
Number of Null values inCol1398 are 0
Number of Null values inCol1399 are 0
Number of Null values inCol1400 are 0
Number of Null values inCol1401 are 0
Number of Null values inCol1402 are 0
Number of Null values inCol1403 are 0
Number of Null values inCol1404 are 0
Number of Null values inCol1405 are 0
Number of Null values inCol1406 are 0
Number of Null values inCol1407 are 0
Number of Null values inCol1408 are 0
Number of Null values inCol1409 are 0
Number of Null values inCol1410 are 0
Number of Null values inCol1411 are 0
Number of Null values inCol1412 are 0
Number of Null values inCol1413 are 0
Number of Null values inCol1414 are 0
Number of Null values inCol1415 are 0
Number of Null values inCol1416 are 0
Number of Null values inCol1417 are 0
Number of Null values inCol1418 are 0
Number of Null values inCol1419 are 0
Number of Null values inCol1420 are 0
Number of Null values inCol1421 are 0
Number of Null values inCol1422 are 0
Number of Null values inCol1423 are 0
Number of Null values inCol1424 are 0
Number of Null values inCol1425 are 0
Number of Null values inCol1426 are 0
Number of Null values inCol1427 are 0
Number of Null values inCol1428 are 0
Number of Null values inCol1429 are 0
Number of Null values inCol1430 are 0
Number of Null values inCol1431 are 0
Number of Null values inCol1432 are 0
Number of Null values inCol1433 are 0
Number of Null values inCol1434 are 0
Number of Null values inCol1435 are 0
Number of Null values inCol1436 are 0
Number of Null values inCol1437 are 0
Number of Null values inCol1438 are 0
Number of Null values inCol1439 are 0
Number of Null values inCol1440 are 0
Number of Null values inCol1441 are 0
Number of Null values inCol1442 are 0
Number of Null values inCol1443 are 0
Number of Null values inCol1444 are 0
Number of Null values inCol1445 are 0
Number of Null values inCol1446 are 0
Number of Null values inCol1447 are 0
Number of Null values inCol1448 are 0
Number of Null values inCol1449 are 0
Number of Null values inCol1450 are 0
Number of Null values inCol1451 are 0
Number of Null values inCol1452 are 0
Number of Null values inCol1453 are 0
Number of Null values inCol1454 are 0
Number of Null values inCol1455 are 0
Number of Null values inCol1456 are 0
Number of Null values inCol1457 are 0
Number of Null values inCol1458 are 0
Number of Null values inCol1459 are 0
Number of Null values inCol1460 are 0
Number of Null values inCol1461 are 0
Number of Null values inCol1462 are 0
Number of Null values inCol1463 are 0
Number of Null values inCol1464 are 0
Number of Null values inCol1465 are 0
Number of Null values inCol1466 are 0
Number of Null values inCol1467 are 0
Number of Null values inCol1468 are 0
Number of Null values inCol1469 are 0
Number of Null values inCol1470 are 0
Number of Null values inCol1471 are 0
Number of Null values inCol1472 are 0
Number of Null values inCol1473 are 0
Number of Null values inCol1474 are 0
Number of Null values inCol1475 are 0
Number of Null values inCol1476 are 0
Number of Null values inCol1477 are 0
Number of Null values inCol1478 are 0
Number of Null values inCol1479 are 0
Number of Null values inCol1480 are 0
Number of Null values inCol1481 are 0
Number of Null values inCol1482 are 0
Number of Null values inCol1483 are 0
Number of Null values inCol1484 are 0
Number of Null values inCol1485 are 0
Number of Null values inCol1486 are 0
Number of Null values inCol1487 are 0
Number of Null values inCol1488 are 0
Number of Null values inCol1489 are 0
Number of Null values inCol1490 are 0
Number of Null values inCol1491 are 0
Number of Null values inCol1492 are 0
Number of Null values inCol1493 are 0
Number of Null values inCol1494 are 0
Number of Null values inCol1495 are 0
Number of Null values inCol1496 are 0
Number of Null values inCol1497 are 0
Number of Null values inCol1498 are 0
Number of Null values inCol1499 are 0
Number of Null values inCol1500 are 0
Number of Null values inCol1501 are 0
Number of Null values inCol1502 are 0
Number of Null values inCol1503 are 0
Number of Null values inCol1504 are 0
Number of Null values inCol1505 are 0
Number of Null values inCol1506 are 0
Number of Null values inCol1507 are 0
Number of Null values inCol1508 are 0
Number of Null values inCol1509 are 0
Number of Null values inCol1510 are 0

Number of Null values inCol1511 are 0
Number of Null values inCol1512 are 0
Number of Null values inCol1513 are 0
Number of Null values inCol1514 are 0
Number of Null values inCol1515 are 0
Number of Null values inCol1516 are 0
Number of Null values inCol1517 are 0
Number of Null values inCol1518 are 0
Number of Null values inCol1519 are 0
Number of Null values inCol1520 are 0
Number of Null values inCol1521 are 0
Number of Null values inCol1522 are 0
Number of Null values inCol1523 are 0
Number of Null values inCol1524 are 0
Number of Null values inCol1525 are 0
Number of Null values inCol1526 are 0
Number of Null values inCol1527 are 0
Number of Null values inCol1528 are 0
Number of Null values inCol1529 are 0
Number of Null values inCol1530 are 0
Number of Null values inCol1531 are 0
Number of Null values inCol1532 are 0
Number of Null values inCol1533 are 0
Number of Null values inCol1534 are 0
Number of Null values inCol1535 are 0
Number of Null values inCol1536 are 0
Number of Null values inCol1537 are 0
Number of Null values inCol1538 are 0
Number of Null values inCol1539 are 0
Number of Null values inCol1540 are 0
Number of Null values inCol1541 are 0
Number of Null values inCol1542 are 0
Number of Null values inCol1543 are 0
Number of Null values inCol1544 are 0
Number of Null values inCol1545 are 0
Number of Null values inCol1546 are 0
Number of Null values inCol1547 are 0
Number of Null values inCol1548 are 0
Number of Null values inCol1549 are 0
Number of Null values inCol1550 are 0
Number of Null values inCol1551 are 0
Number of Null values inCol1552 are 0
Number of Null values inCol1553 are 0
Number of Null values inCol1554 are 0
Number of Null values inCol1555 are 0
Number of Null values inCol1556 are 0
Number of Null values inCol1557 are 0
Number of Null values inCol1558 are 0
Number of Null values inCol1559 are 0
Number of Null values inCol1560 are 0
Number of Null values inCol1561 are 0
Number of Null values inCol1562 are 0
Number of Null values inCol1563 are 0
Number of Null values inCol1564 are 0
Number of Null values inCol1565 are 0
Number of Null values inCol1566 are 0
Number of Null values inCol1567 are 0
Number of Null values inCol1568 are 0
Number of Null values inCol1569 are 0
Number of Null values inCol1570 are 0
Number of Null values inCol1571 are 0
Number of Null values inCol1572 are 0
Number of Null values inCol1573 are 0
Number of Null values inCol1574 are 0
Number of Null values inCol1575 are 0
Number of Null values inCol1576 are 0
Number of Null values inCol1577 are 0
Number of Null values inCol1578 are 0
Number of Null values inCol1579 are 0
Number of Null values inCol1580 are 0
Number of Null values inCol1581 are 0
Number of Null values inCol1582 are 0
Number of Null values inCol1583 are 0
Number of Null values inCol1584 are 0
Number of Null values inCol1585 are 0
Number of Null values inCol1586 are 0
Number of Null values inCol1587 are 0
Number of Null values inCol1588 are 0
Number of Null values inCol1589 are 0
Number of Null values inCol1590 are 0
Number of Null values inCol1591 are 0
Number of Null values inCol1592 are 0
Number of Null values inCol1593 are 0
Number of Null values inCol1594 are 0
Number of Null values inCol1595 are 0
Number of Null values inCol1596 are 0
Number of Null values inCol1597 are 0
Number of Null values inCol1598 are 0
Number of Null values inCol1599 are 0
Number of Null values inCol1600 are 0
Number of Null values inCol1601 are 0
Number of Null values inCol1602 are 0
Number of Null values inCol1603 are 0
Number of Null values inCol1604 are 0
Number of Null values inCol1605 are 0
Number of Null values inCol1606 are 0
Number of Null values inCol1607 are 0
Number of Null values inCol1608 are 0
Number of Null values inCol1609 are 0
Number of Null values inCol1610 are 0
Number of Null values inCol1611 are 0
Number of Null values inCol1612 are 0
Number of Null values inCol1613 are 0
Number of Null values inCol1614 are 0
Number of Null values inCol1615 are 0
Number of Null values inCol1616 are 0
Number of Null values inCol1617 are 0
Number of Null values inCol1618 are 0
Number of Null values inCol1619 are 0
Number of Null values inCol1620 are 0
Number of Null values inCol1621 are 0
Number of Null values inCol1622 are 0
Number of Null values inCol1623 are 0
Number of Null values inCol1624 are 0
Number of Null values inCol1625 are 0
Number of Null values inCol1626 are 0
Number of Null values inCol1627 are 0
Number of Null values inCol1628 are 0
Number of Null values inCol1629 are 0
Number of Null values inCol1630 are 0
Number of Null values inCol1631 are 0
Number of Null values inCol1632 are 0
Number of Null values inCol1633 are 0
Number of Null values inCol1634 are 0
Number of Null values inCol1635 are 0
Number of Null values inCol1636 are 0
Number of Null values inCol1637 are 0
Number of Null values inCol1638 are 0
Number of Null values inCol1639 are 0
Number of Null values inCol1640 are 0
Number of Null values inCol1641 are 0
Number of Null values inCol1642 are 0
Number of Null values inCol1643 are 0
Number of Null values inCol1644 are 0
Number of Null values inCol1645 are 0
Number of Null values inCol1646 are 0
Number of Null values inCol1647 are 0
Number of Null values inCol1648 are 0
Number of Null values inCol1649 are 0
Number of Null values inCol1650 are 0
Number of Null values inCol1651 are 0
Number of Null values inCol1652 are 0
Number of Null values inCol1653 are 0
Number of Null values inCol1654 are 0
Number of Null values inCol1655 are 0
Number of Null values inCol1656 are 0
Number of Null values inCol1657 are 0
Number of Null values inCol1658 are 0
Number of Null values inCol1659 are 0
Number of Null values inCol1660 are 0
Number of Null values inCol1661 are 0
Number of Null values inCol1664 are 0
Number of Null values inCol1665 are 0
Number of Null values inCol1666 are 0
Number of Null values inCol1667 are 0
Number of Null values inCol1668 are 0
Number of Null values inCol1669 are 0
Number of Null values inCol1670 are 0
Number of Null values inCol1671 are 0
Number of Null values inCol1672 are 0
Number of Null values inCol1673 are 0
Number of Null values inCol1674 are 0
Number of Null values inCol1675 are 0
Number of Null values inCol1676 are 0
Number of Null values inCol1677 are 0
Number of Null values inCol1678 are 0
Number of Null values inCol1679 are 0
Number of Null values inCol1680 are 0
Number of Null values inCol1681 are 0
Number of Null values inCol1682 are 0
Number of Null values inCol1683 are 0
Number of Null values inCol1684 are 0
Number of Null values inCol1685 are 0
Number of Null values inCol1686 are 0
Number of Null values inCol1687 are 0
Number of Null values inCol1688 are 0
Number of Null values inCol1689 are 0
Number of Null values inCol1690 are 0
Number of Null values inCol1691 are 0
Number of Null values inCol1692 are 0
Number of Null values inCol1693 are 0
Number of Null values inCol1694 are 0
Number of Null values inCol1695 are 0
Number of Null values inCol1696 are 0
Number of Null values inCol1697 are 0
Number of Null values inCol1698 are 0
Number of Null values inCol1699 are 0
Number of Null values inCol1700 are 0
Number of Null values inCol1701 are 0
Number of Null values inCol1702 are 0
Number of Null values inCol1703 are 0
Number of Null values inCol1704 are 0
Number of Null values inCol1705 are 0
Number of Null values inCol1706 are 0
Number of Null values inCol1707 are 0
Number of Null values inCol1708 are 0
Number of Null values inCol1709 are 0
Number of Null values inCol1710 are 0
Number of Null values inCol1711 are 0
Number of Null values inCol1712 are 0
Number of Null values inCol1713 are 0
Number of Null values inCol1714 are 0
Number of Null values inCol1715 are 0
Number of Null values inCol1716 are 0
Number of Null values inCol1717 are 0
Number of Null values inCol1718 are 0
Number of Null values inCol1719 are 0
Number of Null values inCol1720 are 0
Number of Null values inCol1721 are 0
Number of Null values inCol1722 are 0
Number of Null values inCol1723 are 0
Number of Null values inCol1724 are 0
Number of Null values inCol1725 are 0
Number of Null values inCol1726 are 0
Number of Null values inCol1727 are 0
Number of Null values inCol1728 are 0
Number of Null values inCol1729 are 0
Number of Null values inCol1730 are 0
Number of Null values inCol1731 are 0
Number of Null values inCol1732 are 0
Number of Null values inCol1733 are 0
Number of Null values inCol1734 are 0
Number of Null values inCol1735 are 0
Number of Null values inCol1736 are 0
Number of Null values inCol1737 are 0
Number of Null values inCol1738 are 0
Number of Null values inCol1739 are 0
Number of Null values inCol1740 are 0
Number of Null values inCol1741 are 0
Number of Null values inCol1742 are 0
Number of Null values inCol1743 are 0
Number of Null values inCol1744 are 0
Number of Null values inCol1745 are 0
Number of Null values inCol1746 are 0
Number of Null values inCol1747 are 0
Number of Null values inCol1748 are 0
Number of Null values inCol1749 are 0
Number of Null values inCol1750 are 0
Number of Null values inCol1751 are 0
Number of Null values inCol1752 are 0
Number of Null values inCol1753 are 0
Number of Null values inCol1754 are 0
Number of Null values inCol1755 are 0
Number of Null values inCol1756 are 0
Number of Null values inCol1757 are 0
Number of Null values inCol1758 are 0
Number of Null values inCol1759 are 0
Number of Null values inCol1760 are 0
Number of Null values inCol1761 are 0
Number of Null values inCol1762 are 0
Number of Null values inCol1763 are 0
Number of Null values inCol1764 are 0
Number of Null values inCol1765 are 0
Number of Null values inCol1766 are 0
Number of Null values inCol1767 are 0
Number of Null values inCol1768 are 0
Number of Null values inCol1769 are 0
Number of Null values inCol1770 are 0
Number of Null values inCol1771 are 0
Number of Null values inCol1772 are 0
Number of Null values inCol1773 are 0
Number of Null values inCol1774 are 0
Number of Null values inCol1775 are 0
Number of Null values inCol1776 are 0
Number of Null values inCol1777 are 0
Number of Null values inCol1778 are 0
Number of Null values inCol1779 are 0
Number of Null values inCol1780 are 0
Number of Null values inCol1781 are 0
Number of Null values inCol1782 are 0
Number of Null values inCol1783 are 0
Number of Null values inCol1784 are 0
Number of Null values inCol1785 are 0
Number of Null values inCol1786 are 0
Number of Null values inCol1787 are 0
Number of Null values inCol1788 are 0
Number of Null values inCol1789 are 0
Number of Null values inCol1790 are 0
Number of Null values inCol1791 are 0
Number of Null values inCol1792 are 0
Number of Null values inCol1793 are 0
Number of Null values inCol1794 are 0
Number of Null values inCol1795 are 0
Number of Null values inCol1796 are 0
Number of Null values inCol1797 are 0
Number of Null values inCol1798 are 0
Number of Null values inCol1799 are 0
Number of Null values inCol1800 are 0
Number of Null values inCol1801 are 0
Number of Null values inCol1802 are 0
Number of Null values inCol1803 are 0
Number of Null values inCol1804 are 0
Number of Null values inCol1805 are 0
Number of Null values inCol1806 are 0
Number of Null values inCol1807 are 0
Number of Null values inCol1808 are 0
Number of Null values inCol1809 are 0
Number of Null values inCol1810 are 0
Number of Null values inCol1811 are 0
Number of Null values inCol1812 are 0
Number of Null values inCol1813 are 0
Number of Null values inCol1814 are 0
Number of Null values inCol1815 are 0
Number of Null values inCol1816 are 0
Number of Null values inCol1817 are 0
Number of Null values inCol1818 are 0
Number of Null values inCol1819 are 0
Number of Null values inCol1820 are 0
Number of Null values inCol1821 are 0
Number of Null values inCol1822 are 0
Number of Null values inCol1823 are 0
Number of Null values inCol1824 are 0
Number of Null values inCol1825 are 0
Number of Null values inCol1826 are 0
Number of Null values inCol1827 are 0
Number of Null values inCol1828 are 0
Number of Null values inCol1829 are 0
Number of Null values inCol1830 are 0
Number of Null values inCol1831 are 0
Number of Null values inCol1832 are 0
Number of Null values inCol1833 are 0
Number of Null values inCol1834 are 0
Number of Null values inCol1835 are 0
Number of Null values inCol1836 are 0
Number of Null values inCol1837 are 0
Number of Null values inCol1838 are 0
Number of Null values inCol1839 are 0
Number of Null values inCol1840 are 0
Number of Null values inCol1841 are 0
Number of Null values inCol1842 are 0
Number of Null values inCol1843 are 0
Number of Null values inCol1844 are 0
Number of Null values inCol1845 are 0
Number of Null values inCol1846 are 0
Number of Null values inCol1847 are 0
Number of Null values inCol1848 are 0
Number of Null values inCol1849 are 0
Number of Null values inCol1850 are 0
Number of Null values inCol1851 are 0
Number of Null values inCol1852 are 0
Number of Null values inCol1853 are 0
Number of Null values inCol1854 are 0
Number of Null values inCol1855 are 0
Number of Null values inCol1856 are 0
Number of Null values inCol1857 are 0
Number of Null values inCol1858 are 0
Number of Null values inCol1859 are 0
Number of Null values inCol1860 are 0
Number of Null values inCol1861 are 0
Number of Null values inCol1862 are 0
Number of Null values inCol1863 are 0
Number of Null values inCol1864 are 0
Number of Null values inCol1865 are 0
Number of Null values inCol1866 are 0
Number of Null values inCol1867 are 0
Number of Null values inCol1868 are 0
Number of Null values inCol1869 are 0
Number of Null values inCol1870 are 0
Number of Null values inCol1871 are 0
Number of Null values inCol1872 are 0
Number of Null values inCol1873 are 0
Number of Null values inCol1874 are 0
Number of Null values inCol1875 are 0
Number of Null values inCol1876 are 0
Number of Null values inCol1877 are 0
Number of Null values inCol1878 are 0
Number of Null values inCol1879 are 0
Number of Null values inCol1880 are 0
Number of Null values inCol1881 are 0
Number of Null values inCol1882 are 0
Number of Null values inCol1883 are 0
Number of Null values inCol1884 are 0
Number of Null values inCol1885 are 0
Number of Null values inCol1886 are 0
Number of Null values inCol1887 are 0
Number of Null values inCol1888 are 0
Number of Null values inCol1889 are 0
Number of Null values inCol1890 are 0
Number of Null values inCol1891 are 0
Number of Null values inCol1892 are 0
Number of Null values inCol1893 are 0
Number of Null values inCol1894 are 0
Number of Null values inCol1895 are 0
Number of Null values inCol1896 are 0
Number of Null values inCol1897 are 0
Number of Null values inCol1898 are 0
Number of Null values inCol1899 are 0
Number of Null values inCol1900 are 0
Number of Null values inCol1901 are 0
Number of Null values inCol1902 are 0
Number of Null values inCol1903 are 0
Number of Null values inCol1904 are 0
Number of Null values inCol1905 are 0

Number of Null values inCol1906 are 0
Number of Null values inCol1907 are 0
Number of Null values inCol1908 are 0
Number of Null values inCol1909 are 0
Number of Null values inCol1910 are 0
Number of Null values inCol1911 are 0
Number of Null values inCol1912 are 0
Number of Null values inCol1913 are 0
Number of Null values inCol1914 are 0
Number of Null values inCol1915 are 0
Number of Null values inCol1916 are 0
Number of Null values inCol1917 are 0
Number of Null values inCol1918 are 0
Number of Null values inCol1919 are 0
Number of Null values inCol1920 are 0
Number of Null values inCol1921 are 0
Number of Null values inCol1922 are 0
Number of Null values inCol1923 are 0
Number of Null values inCol1924 are 0
Number of Null values inCol1925 are 0
Number of Null values inCol1926 are 0
Number of Null values inCol1927 are 0
Number of Null values inCol1928 are 0
Number of Null values inCol1929 are 0
Number of Null values inCol1930 are 0
Number of Null values inCol1931 are 0
Number of Null values inCol1932 are 0
Number of Null values inCol1933 are 0
Number of Null values inCol1934 are 0
Number of Null values inCol1935 are 0
Number of Null values inCol1936 are 0
Number of Null values inCol1937 are 0
Number of Null values inCol1938 are 0
Number of Null values inCol1939 are 0
Number of Null values inCol1940 are 0
Number of Null values inCol1941 are 0
Number of Null values inCol1942 are 0
Number of Null values inCol1943 are 0
Number of Null values inCol1944 are 0
Number of Null values inCol1945 are 0
Number of Null values inCol1946 are 0
Number of Null values inCol1947 are 0
Number of Null values inCol1948 are 0
Number of Null values inCol1949 are 0
Number of Null values inCol1950 are 0
Number of Null values inCol1951 are 0
Number of Null values inCol1952 are 0
Number of Null values inCol1953 are 0
Number of Null values inCol1954 are 0
Number of Null values inCol1955 are 0
Number of Null values inCol1956 are 0
Number of Null values inCol1957 are 0
Number of Null values inCol1958 are 0
Number of Null values inCol1959 are 0
Number of Null values inCol1960 are 0
Number of Null values inCol1961 are 0
Number of Null values inCol1962 are 0
Number of Null values inCol1963 are 0
Number of Null values inCol1964 are 0
Number of Null values inCol1965 are 0
Number of Null values inCol1966 are 0
Number of Null values inCol1967 are 0
Number of Null values inCol1968 are 0
Number of Null values inCol1969 are 0
Number of Null values inCol1970 are 0
Number of Null values inCol1971 are 0
Number of Null values inCol1972 are 0
Number of Null values inCol1973 are 0
Number of Null values inCol1974 are 0
Number of Null values inCol1975 are 0
Number of Null values inCol1976 are 0
Number of Null values inCol1977 are 0
Number of Null values inCol1978 are 0
Number of Null values inCol1979 are 0
Number of Null values inCol1980 are 0
Number of Null values inCol1981 are 0
Number of Null values inCol1982 are 0
Number of Null values inCol1983 are 0
Number of Null values inCol1984 are 0
Number of Null values inCol1985 are 0
Number of Null values inCol1986 are 0
Number of Null values inCol1987 are 0
Number of Null values inCol1988 are 0
Number of Null values inCol1989 are 0
Number of Null values inCol1990 are 0
Number of Null values inCol1991 are 0
Number of Null values inCol1992 are 0
Number of Null values inCol1993 are 0
Number of Null values inCol1994 are 0
Number of Null values inCol1995 are 0
Number of Null values inCol1996 are 0
Number of Null values inCol1997 are 0
Number of Null values inCol1998 are 0
Number of Null values inCol1999 are 0
Number of Null values inCol2000 are 0
Number of Null values inCol2001 are 0
Number of Null values inCol2002 are 0
Number of Null values inCol2003 are 0
Number of Null values inCol2004 are 0
Number of Null values inCol2005 are 0
Number of Null values inCol2006 are 0
Number of Null values inCol2007 are 0
Number of Null values inCol2008 are 0
Number of Null values inCol2009 are 0
Number of Null values inCol2010 are 0
Number of Null values inCol2011 are 0
Number of Null values inCol2012 are 0
Number of Null values inCol2013 are 0
Number of Null values inCol2014 are 0
Number of Null values inCol2015 are 0
Number of Null values inCol2016 are 0
Number of Null values inCol2017 are 0
Number of Null values inCol2018 are 0
Number of Null values inCol2019 are 0
Number of Null values inCol2020 are 0
Number of Null values inCol2021 are 0
Number of Null values inCol2022 are 0
Number of Null values inCol2023 are 0
Number of Null values inCol2024 are 0
Number of Null values inCol2025 are 0
Number of Null values inCol2026 are 0
Number of Null values inCol2027 are 0
Number of Null values inCol2028 are 0
Number of Null values inCol2029 are 0
Number of Null values inCol2030 are 0
Number of Null values inCol2031 are 0
Number of Null values inCol2032 are 0
Number of Null values inCol2033 are 0
Number of Null values inCol2034 are 0
Number of Null values inCol2035 are 0
Number of Null values inCol2036 are 0
Number of Null values inCol2037 are 0
Number of Null values inCol2038 are 0
Number of Null values inCol2039 are 0
Number of Null values inCol2040 are 0
Number of Null values inCol2041 are 0
Number of Null values inCol2042 are 0
Number of Null values inCol2043 are 0
Number of Null values inCol2044 are 0
Number of Null values inCol2045 are 0
Number of Null values inCol2046 are 0
Number of Null values inCol2047 are 0
Number of Null values inCol2048 are 0
Number of Null values inCol2049 are 0
Number of Null values inCol2050 are 0
Number of Null values inCol2051 are 0
Number of Null values inCol2052 are 0
Number of Null values inCol2053 are 0
Number of Null values inCol2054 are 0
Number of Null values inCol2055 are 0
Number of Null values inCol2056 are 0
Number of Null values inCol2057 are 0
Number of Null values inCol2058 are 0
Number of Null values inCol2059 are 0
Number of Null values inCol2060 are 0
Number of Null values inCol2061 are 0
Number of Null values inCol2062 are 0
Number of Null values inCol2063 are 0
Number of Null values inCol2064 are 0
Number of Null values inCol2065 are 0
Number of Null values inCol2066 are 0
Number of Null values inCol2067 are 0
Number of Null values inCol2068 are 0
Number of Null values inCol2069 are 0
Number of Null values inCol2070 are 0
Number of Null values inCol2071 are 0
Number of Null values inCol2072 are 0
Number of Null values inCol2073 are 0
Number of Null values inCol2074 are 0
Number of Null values inCol2075 are 0
Number of Null values inCol2076 are 0
Number of Null values inCol2077 are 0
Number of Null values inCol2078 are 0
Number of Null values inCol2079 are 0
Number of Null values inCol2080 are 0
Number of Null values inCol2081 are 0
Number of Null values inCol2082 are 0
Number of Null values inCol2083 are 0
Number of Null values inCol2084 are 0
Number of Null values inCol2085 are 0
Number of Null values inCol2086 are 0
Number of Null values inCol2087 are 0
Number of Null values inCol2088 are 0
Number of Null values inCol2089 are 0
Number of Null values inCol2090 are 0
Number of Null values inCol2091 are 0
Number of Null values inCol2092 are 0
Number of Null values inCol2093 are 0
Number of Null values inCol2094 are 0
Number of Null values inCol2095 are 0
Number of Null values inCol2096 are 0
Number of Null values inCol2097 are 0
Number of Null values inCol2098 are 0
Number of Null values inCol2099 are 0
Number of Null values inCol2100 are 0
Number of Null values inCol2101 are 0
Number of Null values inCol2102 are 0
Number of Null values inCol2103 are 0
Number of Null values inCol2104 are 0
Number of Null values inCol2105 are 0
Number of Null values inCol2106 are 0
Number of Null values inCol2107 are 0
Number of Null values inCol2108 are 0
Number of Null values inCol2109 are 0
Number of Null values inCol2110 are 0
Number of Null values inCol2111 are 0
Number of Null values inCol2112 are 0
Number of Null values inCol2113 are 0
Number of Null values inCol2114 are 0
Number of Null values inCol2115 are 0
Number of Null values inCol2116 are 0
Number of Null values inCol2117 are 0
Number of Null values inCol2118 are 0
Number of Null values inCol2119 are 0
Number of Null values inCol2120 are 0
Number of Null values inCol2121 are 0
Number of Null values inCol2122 are 0
Number of Null values inCol2123 are 0
Number of Null values inCol2124 are 0
Number of Null values inCol2125 are 0
Number of Null values inCol2126 are 0
Number of Null values inCol2127 are 0
Number of Null values inCol2128 are 0
Number of Null values inCol2129 are 0
Number of Null values inCol2130 are 0
Number of Null values inCol2131 are 0
Number of Null values inCol2132 are 0
Number of Null values inCol2133 are 0
Number of Null values inCol2134 are 0
Number of Null values inCol2135 are 0
Number of Null values inCol2136 are 0
Number of Null values inCol2137 are 0
Number of Null values inCol2138 are 0
Number of Null values inCol2139 are 0
Number of Null values inCol2140 are 0
Number of Null values inCol2141 are 0
Number of Null values inCol2142 are 0
Number of Null values inCol2143 are 0
Number of Null values inCol2144 are 0
Number of Null values inCol2145 are 0
Number of Null values inCol2146 are 0
Number of Null values inCol2147 are 0
Number of Null values inCol2148 are 0
Number of Null values inCol2149 are 0
Number of Null values inCol2150 are 0
Number of Null values inCol2151 are 0
Number of Null values inCol2152 are 0
Number of Null values inCol2153 are 0
Number of Null values inCol2154 are 0
Number of Null values inCol2155 are 0
Number of Null values inCol2156 are 0
Number of Null values inCol2157 are 0
Number of Null values inCol2158 are 0
Number of Null values inCol2159 are 0
Number of Null values inCol2160 are 0
Number of Null values inCol2161 are 0
Number of Null values inCol2162 are 0
Number of Null values inCol2163 are 0
Number of Null values inCol2164 are 0
Number of Null values inCol2165 are 0
Number of Null values inCol2166 are 0
Number of Null values inCol2167 are 0
Number of Null values inCol2168 are 0
Number of Null values inCol2169 are 0
Number of Null values inCol2170 are 0
Number of Null values inCol2171 are 0
Number of Null values inCol2172 are 0
Number of Null values inCol2173 are 0
Number of Null values inCol2174 are 0
Number of Null values inCol2175 are 0
Number of Null values inCol2176 are 0
Number of Null values inCol2177 are 0
Number of Null values inCol2178 are 0
Number of Null values inCol2179 are 0
Number of Null values inCol2180 are 0
Number of Null values inCol2181 are 0
Number of Null values inCol2182 are 0
Number of Null values inCol2183 are 0
Number of Null values inCol2184 are 0
Number of Null values inCol2185 are 0
Number of Null values inCol2186 are 0
Number of Null values inCol2187 are 0
Number of Null values inCol2188 are 0
Number of Null values inCol2189 are 0
Number of Null values inCol2190 are 0
Number of Null values inCol2191 are 0
Number of Null values inCol2192 are 0
Number of Null values inCol2193 are 0
Number of Null values inCol2194 are 0
Number of Null values inCol2195 are 0
Number of Null values inCol2196 are 0
Number of Null values inCol2197 are 0
Number of Null values inCol2198 are 0
Number of Null values inCol2199 are 0
Number of Null values inCol2200 are 0
Number of Null values inCol2201 are 0
Number of Null values inCol2202 are 0
Number of Null values inCol2203 are 0
Number of Null values inCol2204 are 0
Number of Null values inCol2205 are 0
Number of Null values inCol2206 are 0
Number of Null values inCol2207 are 0
Number of Null values inCol2208 are 0
Number of Null values inCol2209 are 0
Number of Null values inCol2210 are 0
Number of Null values inCol2211 are 0
Number of Null values inCol2212 are 0
Number of Null values inCol2213 are 0
Number of Null values inCol2214 are 0
Number of Null values inCol2215 are 0
Number of Null values inCol2216 are 0
Number of Null values inCol2217 are 0
Number of Null values inCol2218 are 0
Number of Null values inCol2219 are 0
Number of Null values inCol2220 are 0
Number of Null values inCol2221 are 0
Number of Null values inCol2222 are 0
Number of Null values inCol2223 are 0
Number of Null values inCol2224 are 0
Number of Null values inCol2225 are 0
Number of Null values inCol2226 are 0
Number of Null values inCol2227 are 0
Number of Null values inCol2228 are 0
Number of Null values inCol2229 are 0
Number of Null values inCol2230 are 0
Number of Null values inCol2231 are 0
Number of Null values inCol2232 are 0
Number of Null values inCol2233 are 0
Number of Null values inCol2234 are 0
Number of Null values inCol2235 are 0
Number of Null values inCol2236 are 0
Number of Null values inCol2237 are 0
Number of Null values inCol2238 are 0
Number of Null values inCol2239 are 0
Number of Null values inCol2240 are 0
Number of Null values inCol2241 are 0
Number of Null values inCol2242 are 0
Number of Null values inCol2243 are 0
Number of Null values inCol2244 are 0
Number of Null values inCol2245 are 0
Number of Null values inCol2246 are 0
Number of Null values inCol2247 are 0
Number of Null values inCol2248 are 0
Number of Null values inCol2249 are 0
Number of Null values inCol2250 are 0
Number of Null values inCol2251 are 0
Number of Null values inCol2252 are 0
Number of Null values inCol2253 are 0
Number of Null values inCol2254 are 0
Number of Null values inCol2255 are 0
Number of Null values inCol2256 are 0
Number of Null values inCol2257 are 0
Number of Null values inCol2258 are 0
Number of Null values inCol2259 are 0
Number of Null values inCol2260 are 0
Number of Null values inCol2261 are 0
Number of Null values inCol2262 are 0
Number of Null values inCol2263 are 0
Number of Null values inCol2264 are 0
Number of Null values inCol2265 are 0
Number of Null values inCol2266 are 0
Number of Null values inCol2267 are 0
Number of Null values inCol2268 are 0
Number of Null values inCol2269 are 0
Number of Null values inCol2270 are 0
Number of Null values inCol2271 are 0
Number of Null values inCol2272 are 0
Number of Null values inCol2273 are 0
Number of Null values inCol2274 are 0
Number of Null values inCol2275 are 0
Number of Null values inCol2276 are 0
Number of Null values inCol2277 are 0
Number of Null values inCol2278 are 0
Number of Null values inCol2279 are 0
Number of Null values inCol2280 are 0
Number of Null values inCol2281 are 0
Number of Null values inCol2282 are 0
Number of Null values inCol2283 are 0
Number of Null values inCol2284 are 0

Number of Null values inCol2285 are 0
Number of Null values inCol2286 are 0
Number of Null values inCol2287 are 0
Number of Null values inCol2288 are 0
Number of Null values inCol2289 are 0
Number of Null values inCol2290 are 0
Number of Null values inCol2291 are 0
Number of Null values inCol2292 are 0
Number of Null values inCol2293 are 0
Number of Null values inCol2294 are 0
Number of Null values inCol2295 are 0
Number of Null values inCol2296 are 0
Number of Null values inCol2297 are 0
Number of Null values inCol2298 are 0
Number of Null values inCol2299 are 0
Number of Null values inCol2300 are 0
Number of Null values inCol2301 are 0
Number of Null values inCol2302 are 0
Number of Null values inCol2303 are 0
Number of Null values inCol2304 are 0
Number of Null values inCol2305 are 0
Number of Null values inCol2306 are 0
Number of Null values inCol2307 are 0
Number of Null values inCol2308 are 0
Number of Null values inCol2309 are 0
Number of Null values inCol2310 are 0
Number of Null values inCol2311 are 0
Number of Null values inCol2312 are 0
Number of Null values inCol2313 are 0
Number of Null values inCol2314 are 0
Number of Null values inCol2315 are 0
Number of Null values inCol2316 are 0
Number of Null values inCol2317 are 0
Number of Null values inCol2318 are 0
Number of Null values inCol2319 are 0
Number of Null values inCol2320 are 0
Number of Null values inCol2321 are 0
Number of Null values inCol2322 are 0
Number of Null values inCol2323 are 0
Number of Null values inCol2324 are 0
Number of Null values inCol2325 are 0
Number of Null values inCol2326 are 0
Number of Null values inCol2327 are 0
Number of Null values inCol2328 are 0
Number of Null values inCol2329 are 0
Number of Null values inCol2330 are 0
Number of Null values inCol2331 are 0
Number of Null values inCol2332 are 0
Number of Null values inCol2333 are 0
Number of Null values inCol2334 are 0
Number of Null values inCol2335 are 0
Number of Null values inCol2336 are 0
Number of Null values inCol2337 are 0
Number of Null values inCol2338 are 0
Number of Null values inCol2339 are 0
Number of Null values inCol2340 are 0
Number of Null values inCol2341 are 0
Number of Null values inCol2342 are 0
Number of Null values inCol2343 are 0
Number of Null values inCol2344 are 0
Number of Null values inCol2345 are 0
Number of Null values inCol2346 are 0
Number of Null values inCol2347 are 0
Number of Null values inCol2348 are 0
Number of Null values inCol2349 are 0
Number of Null values inCol2350 are 0
Number of Null values inCol2351 are 0
Number of Null values inCol2352 are 0
Number of Null values inCol2353 are 0
Number of Null values inCol2354 are 0
Number of Null values inCol2355 are 0
Number of Null values inCol2356 are 0
Number of Null values inCol2357 are 0
Number of Null values inCol2358 are 0
Number of Null values inCol2359 are 0
Number of Null values inCol2360 are 0
Number of Null values inCol2361 are 0
Number of Null values inCol2362 are 0
Number of Null values inCol2363 are 0
Number of Null values inCol2364 are 0
Number of Null values inCol2365 are 0
Number of Null values inCol2366 are 0
Number of Null values inCol2367 are 0
Number of Null values inCol2368 are 0
Number of Null values inCol2369 are 0
Number of Null values inCol2370 are 0
Number of Null values inCol2371 are 0
Number of Null values inCol2372 are 0
Number of Null values inCol2373 are 0
Number of Null values inCol2374 are 0
Number of Null values inCol2375 are 0
Number of Null values inCol2376 are 0
Number of Null values inCol2377 are 0
Number of Null values inCol2378 are 0
Number of Null values inCol2379 are 0
Number of Null values inCol2380 are 0
Number of Null values inCol2381 are 0
Number of Null values inCol2382 are 0
Number of Null values inCol2383 are 0
Number of Null values inCol2384 are 0
Number of Null values inCol2385 are 0
Number of Null values inCol2386 are 0
Number of Null values inCol2387 are 0
Number of Null values inCol2388 are 0
Number of Null values inCol2389 are 0
Number of Null values inCol2390 are 0
Number of Null values inCol2391 are 0
Number of columns in test1_df are 1635

In [59]:
test_final.head()

,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2382,Col2383,Col2384,Col2385,Col2386,Col2387,Col2388,Col2389,Col2390,Col2391
0,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,8.138800e+04,...,0,0,0,0,0,0,0,0,0,0
1,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,1.272055e+07,...,2,1,0,0,1,1,1,1,2,2
2,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,4.979106e+05,...,0,0,0,0,0,0,0,0,0,0
3,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,5.896693e+03,...,0,0,0,0,0,0,0,0,0,0
4,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,3.034449e+05,...,0,0,0,0,0,0,0,0,0,0

*** Preparing the models for fitting purposes ***

In [68]:
#Performing Scaling
X = train_final.drop('Col2', 1)
y = train_final[['Col2']]
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 1)

sc = StandardScaler()
X = sc.fit_transform(X)
test_final = sc.fit_transform(test_final)

In [71]:
xgb = XGBClassifier(learning_rate=0.01,
                    n_estimators=1000)
xgb.fit(X, y)
pred = xgb.predict(test_final)
submission = pd.DataFrame({'Col1':test_df['Col1'],'Col2':pred})
submission.to_csv('submit_xgb_sc.csv', index = False)